<div class="navbar navbar-fixed-bottom navbar-footer">
	<div class="container">
		<footer>
			<p>
				<?= _theme()->getEffectiveFooterText() ?>

				<a href="/pages/imprint" class="pull-right"><?= _t('imprint') ?></a>
				<a href="/pages/privacy-policy" class="pull-right"><?= _t('privacy policy') ?></a>
				<a href="/pages/terms-of-use" class="pull-right"><?= _t('terms of use') ?></a>

			</p>

		</footer>
	</div>
</div>
