<?php
$logo = _theme()->getLogoImage();

/** @var Epr_Modules_News $newsModule */
$newsModule = _app()->getModuleWithIdentifier(Epr_Modules_News::identifier());

/** @var Epr_Modules_Ideas $ideasModule */
$ideasModule = _app()->getModuleWithIdentifier(Epr_Modules_Ideas::identifier());

/** @var Epr_Modules_Deals $dealsModule */
$dealsModule = _app()->getModuleWithIdentifier(Epr_Modules_Deals::identifier());

/** @var Epr_Modules_Info $infoModule */
$infoModule = _app()->getModuleWithIdentifier(Epr_Modules_Info::identifier());

/** @var Epr_Modules_Events $eventsModule */
$eventsModule = _app()->getModuleWithIdentifier(Epr_Modules_Events::identifier());

?>

<div class="navbar navbar-brand navbar-fixed-top main-menu navbar-menu" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">
                <?php
                if ($logo instanceof Epr_Content_Image) {

                    $height = 30;
                    $width  = $logo->getWidthByHeight($height);
                    ?>
                    <img src="<?= $logo->getPublicIDBasedURL($width, $height) ?>" title="<?= _theme()->getTitle() ?>"
                         style="width: <?= $width ?>px; height: <?= $height ?>px;"/>
                <?php } ?>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="<?php echo $this->controller == 'index' ? 'active' : 'inactive' ?>">
                    <a href="<?php echo $this->baseUrl('/') ?>"><?php echo _t('Home') ?></a>
                </li>

                <?php if ($newsModule->getAPIAuthLevel() != Epr_Roles::ROLE_NONE) { ?>
                    <li class="<?php echo $this->controller == 'news' ? 'active' : 'inactive' ?>">
                        <a class="dropdown-toggle"
                           href="<?php echo $this->url(array(), 'newsStart', true) ?>"><?=
                            $newsModule->getDisplayname() ?></a>
                    </li>
                <?php } ?>
                <?php if ($ideasModule->getAPIAuthLevel() != Epr_Roles::ROLE_NONE) { ?>
                    <li class="<?php echo $this->controller == 'ideas' ? 'active' : 'inactive' ?>">
                        <a href="<?php echo $this->url(
                            array(),
                            'ideasStart',
                            true
                        ) ?>"><?= $ideasModule->getDisplayname() ?></a>
                    </li>
                <?php } ?>
                <?php if ($dealsModule->getAPIAuthLevel() != Epr_Roles::ROLE_NONE) { ?>
                    <li class="<?php echo $this->controller == 'deals' ? 'active' : 'inactive' ?>">
                        <a href="<?php echo $this->url(
                            array(),
                            'dealsStart',
                            true
                        ) ?>"><?= $dealsModule->getDisplayname() ?></a>
                    </li>
                <?php } ?>
                <?php if ($eventsModule->getAPIAuthLevel() != Epr_Roles::ROLE_NONE) { ?>
                    <li class="<?php echo $this->controller == 'events' ? 'active' : 'inactive' ?>">
                        <a href="<?php echo $this->url(
                            array(),
                            'eventsStart',
                            true
                        ) ?>"><?= $eventsModule->getDisplayname() ?></a>
                    </li>
                <?php } ?>
                <?php if ($infoModule->getMediaURL()) { ?>
                    <li class="inactive">
                        <a class="social_icon" href="<?= $infoModule->getMediaURL() ?>" target="_blank"><span class="socicon big menu">r</span></a>
                    </li>
                <?php } ?>

                <?php if ($infoModule->getFacebookName()) { ?>
                    <li class="inactive">
                        <a class="social_icon" href="<?= $infoModule->getFacebookPageUrl() ?>" target="_blank"><span class="socicon big menu">b</span></a>
                    </li>
                <?php } ?>
                <?php if ($infoModule->getTwitterName()) { ?>
                    <li class="inactive">
                        <a class="social_icon" href="<?= $infoModule->getTwitterPageUrl() ?>" target="_blank"><span class="socicon big menu">a</span></a>
                    </li>
                <?php } ?>

            </ul>

            <ul class="nav navbar-nav navbar-right <?= ((!_user() ? 'register' : '')) ?>">


                <?php if (_user()) { ?>


                    <li class="dropdown">
                        <a class="avatar" href="#" class="dropdown-toggle" data-toggle="dropdown" class="avatar">
                            <img class="avatar" src="<?= _user()->getAvatarUrl(40) ?>"/>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="<?php echo $this->url(array(), 'myAccount') ?>"><span
                                        class="glyphicon glyphicon-user"></span><?= _t('my account') ?></a>
                            </li>
                            <?php if (_user() && count(_user()->getDeals()) > 0) { ?>
                                <li>
                                    <a href="<?php echo $this->url(array(), 'myDeals') ?>"><span
                                            class="glyphicon glyphicon-usd"></span><?= _t('my deals') ?></a>
                                </li>
                            <?php } ?>
                            <li class="divider"></li>
                            <li>
                                <a href="<?php echo $this->url(array(), 'frontendLogout'); ?>"><span
                                        class="glyphicon glyphicon-eject"></span><?= _t('logout') ?></a>
                            </li>
                            <?php if (_user()->isAdministrator()) { ?>
                                <li class="divider"></li>
                                <li><a href="<?php echo $this->baseUrl('/admin') ?>"><?= _t('admin area') ?></a></li>
                                <li><a href="<?php echo $this->baseUrl('/user/outline') ?>">Toogle content outline</a>
                                </li>
                            <?php } ?>
                        </ul>
                    </li>

                <?php } else { ?>

                    <li><?php echo $this->loginForm ?></li>
                    <li class="<?php echo $this->controller == 'user' && $this->action == 'login' ? 'active' : 'inactive' ?>">
                        <a class="btn btn-primary" href="/user/login"><?= _t('Register') ?></a></li>

                <?php } ?>


            </ul>
        </div>
    </div>
</div>

