
<div class="imageEditor">
    <h2>Images</h2>
    <div id="image-response"></div>
    <ul class="sortable">
        <?


        $sortScript = $this->imgEditorSortScript;
        $images = Epr_Content_Image_Collection::allImages();

        if (count($images)>0) :
            foreach ($images as $image):

                    try {
                        ?>
                            <li class="single-image" id="arr_<?php echo  $image->getId() ?>" data-li-image-id="<?php echo  $image->getId() ?>">
                                <a href="#" class="togglable" item-id="<?php echo  $image->getId() ?>">
                                    <img src="<?php echo  $image->getPublicURL() ?>?height=100" />
                                    <div class="subtitle"><?php echo  $image->getName() ?></div>
                                </a>
                            </li>
                        <?php

//                        echo '<li class="single-image" id="arr_' . $cImage->getId() . '" data-li-image-id="' . $cImage->getId() . '">
//                                        <div class="image-edit-icon"><a href="#" class="icon-2 removeImage" data-item-id="' . $itemId . '" data-image-id="' . $cImage->getId() . '">&nbsp;</a></div>
//                                        <img src="' . $cImage->getPublicURL() . '?height=100" />
//                                        <div>' . $cImage->getName() . '</div>
//                                      </li>';

                    } catch (Exception $e) {
                        echo $e->getMessage();
                    }

            endforeach;
        else :
            echo $this->translate('No Images available.');
        endif;
        ?>
    </ul>
    <script>

        jQuery('.togglable').bind('click', function (event) {

            var itemId = jQuery(this).attr('item-id');
            if (itemId) {
                event.preventDefault();
                jQuery.ajax( {
                    url: '/admin/ajax/toggle-webpage-image',
                    data: {
                        subject: <?php echo  $this->subjectId ?>,
                        item: itemId
                    },
                    success: function (response) {
                        alert(response);
                    }
                });
            }

        });


        jQuery('.sortable').sortable({
            update:function () {
                var order = $(this).sortable("serialize");
                $.post('<?php echo $sortScript?>', order, function (theResponse) {
                    $("#image-response").html(theResponse);
                });
            }
        });


    </script>
    <div class="clear"></div>
</div>