<?= $this->paginateLinksHelper($this->users) ?>
<?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_TOP, $this->users) ?>

<form id="mainform">
    <?= $this->searchBoxHelper(array(
        'admins' => 'role:admin',
        'users' => 'role:user',
        'root admins' => 'role:root',
        'active' => 'active:true',
        'not active' => 'active:false'
    )) ?>
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" class="data-table-v2">
        <tr>
            <th class="table-header-repeat line-left table-header-titleImage">
                <span><?php echo $this->translate('Avatar') ?></span></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('firstname', $this->translate('First Name')) ?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('lastname', $this->translate('Last Name')) ?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('email', $this->translate('Email')) ?></th>
            <th class="table-header-repeat line-left tiny"><?= $this->sortLinksHelper('role', $this->translate('Role')) ?></th>
            <th class="table-header-repeat line-left date"><?= $this->sortLinksHelper('lastLogin', $this->translate('Login')) ?></th>
            <th class="table-header-repeat line-left date"><?= $this->sortLinksHelper('lastMobileLogin', $this->translate('Mobile Login')) ?></th>
            <th class="table-header-options line-left" style="width:150px;"><span>Options</span></th>
        </tr>


        <?php
        if (count($this->users) > 0) {
            $cycle = $this->cycle(array("row", "alternate-row"));
            foreach ($this->users as $user) {
                if ($user instanceof Epr_User) {
                    $editURL = $this->editUrl . '/id/' . $user->getId();
                    $lastLoginTime = null;
                    $lastMobileLoginTime = null;
                    if ($user->getLastLogin()) {
                        $lastLoginTime = $user->getLastLogin();
                    }

                    if ($user->getLastMobileLogin()) {
                        $lastMobileLoginTime = $user->getLastMobileLogin();
                    }
                    ?>
                    <tr class="<?php echo $cycle->next() ?> <?php echo !$user->isActive() ? 'row_inactive' : '' ?>"
                        onclick="document.location='<?= $editURL ?>'">
                        <td class="table-cell-icon">
                            <img src="<?php echo $user->getAvatarUrl(50) ?>"/>
                        </td>
                        <td><?php echo $user->getFirstname() ?></td>
                        <td><?php echo $user->getLastname(); ?></td>
                        <td><?php echo $user->getEmail(); ?></td>
                        <td><?php echo $user->getRole(); ?></td>
                        <td><?php echo($lastLoginTime ? $lastLoginTime->format('Y-m-d H:i:s') : '--') ?></td>
                        <td><?php echo($lastMobileLoginTime ? $lastMobileLoginTime->format('Y-m-d H:i:s') : '--') ?></td>
                        <td class="options-width">
                            <a href="<?= $editURL ?>" title="Edit"
                               class="icon-1 info-tooltip"></a>
                            <a href="<?php echo $this->tokensUrl ?>/id/<?php echo $user->getId() ?>" title="Show tokens"
                               class="icon-6 info-tooltip"></a>
                            <a href="<?php echo $this->deleteUrl ?>/id/<?php echo $user->getId() ?>" title="Delete"
                               class="icon-2 info-tooltip"
                               onclick="return confirm('<?php echo $this->translate('Delete User?') ?>');"></a>
                            <a href="<?php echo $this->deactivateUrl ?>/id/<?php echo $user->getId() ?>"
                               title="<?php echo $this->translate($user->isActive() ? 'Deactivate User?' : 'Activate User') ?>"
                               class="icon-5 info-tooltip"
                               onclick="return confirm('<?php echo $this->translate($user->isActive() ? 'Deactivate User?' : 'Activate User') ?>');"></a>
                        </td>
                    </tr>

          <?php }
            }
        } ?>
    </table>
    <?= $this->paginateLinksHelper($this->users) ?>
    <?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_BOTTOM, $this->users) ?>
</form>

<div class="clear"></div>