<form id="mainform" action="asdf">
	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<!--<th class="table-header-check"><a id="toggle-all" ></a> </th>-->
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Created') ?></a></th>
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Context') ?></a></th>
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Receiver') ?></a></th>
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Status') ?></a></th>
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Sent') ?></a></th>
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Transport') ?></a></th>
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Failures') ?></a></th>
			<th class="table-header-options line-left"><a href="">Options</a></th>
		</tr>

		<?php $cycle = $this->cycle(array(
										 "",
										 "alternate-row"
									)); ?>

		<?php
		foreach ($this->messages as $message) {
			if ($message instanceof Epr_Notification) {

				$statusText = null;
				switch ($message->getStatus()) {
					case Epr_Notification::STATUS_EDITING:
						$statusText = $this->translate('editing');
						break;
					case Epr_Notification::STATUS_PENDING:
						$statusText = $this->translate('pending');
						break;
					case Epr_Notification::STATUS_SENDING:
						$statusText = $this->translate('sending');
						break;
					case Epr_Notification::STATUS_SENT:
						$statusText = $this->translate('sent');
						break;
					case Epr_Notification::STATUS_FAILED:
					default:
						$statusText = $this->translate('failed');
						break;

				}

				$transportText = null;
				switch($message->getType()) {
					case Epr_Notification::TYPE_EMAIL:
						$transportText = $this->translate('Email');
						break;
					case Epr_Notification::TYPE_IOS_APN:
						$transportText = $this->translate('iOS');
						break;
					case Epr_Notification::TYPE_ANDROID_GCM:
						$transportText = $this->translate('Android');
						break;
				}

				?>
				<tr class="<?php echo $cycle->next() ?>">
					<!--<td><input  type="checkbox"/></td>-->
					<td>
						<a name="<?= $message->getId() ?>"></a>
						<?= $message->getCreationDate()->format('Y-m-d H:i:s') ?>
					</td>
					<td><?= ($message->getContext()) ? $message->getContext() : '-' ?></td>
					<td><?= $message->getReceiverName() ?></td>
					<td><?= $statusText ?></td>
					<td><?= ($message->getSentDate()) ? $message->getSentDate()->format('Y-m-d H:i:s') : '-' ?></td>
					<td><?= ($transportText) ? $transportText : '' ?></td>
					<td><?= $message->getFailureCounter() ?></td>
					<td class="options-width">
					    <?php if ($message->getStatus() != Epr_Notification::STATUS_SENT && $message->getStatus() != Epr_Notification::STATUS_FAILED) { ?>
					        <a href="/admin/user/cancel-message/id/<?= $message->getId() ?>" title="Cancel" class="icon-2 info-tooltip"></a>
					    <?php } ?>
					</td>
				</tr>
			<?php
			}
		} ?>
	</table>
</form>

<a href="/admin/user/delete-sent-messages"><?= _t('Delete all sent messages') ?></a>&nbsp;|&nbsp;<a href="/admin/user/delete-failed-messages"><?= _t('Delete all failed messages') ?></a>