<script type="text/javascript">

	function sendTokenTestMessage (token) {
		var url = '<?= $this->sendMessageUrl ?>/token/' + token;

		var reason = prompt('Reason?');
		if (reason.length > 0) {
			url+= '/reason/' + encodeURIComponent(reason);
		}

		window.location = url;
	}

</script>

<?php
$cycle = $this->cycle(array(
						   "",
						   "alternate-row"
					  ));
?>

<?= $this->paginateLinksHelper($this->items) ?>
<?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_TOP, $this->items) ?>

<form id="mainform" action="asdf">
	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-repeat line-left minwidth-1"><span><?php echo $this->translate('User') ?></span></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('creationDate', $this->translate('Created')) ?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('lastUsageDate', $this->translate('Last Usage')) ?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('type', $this->translate('Type')) ?></th>
			<th class="table-header-repeat line-left"><span><?php echo $this->translate('Additional Information') ?></span></th>
			<th class="table-header-options line-left"><a href="">Options</a></th>
		</tr>

		<?php
		if (isset($this->items)) {
			foreach ($this->items as $token) {
				if ($token instanceof Epr_Token) {

					$type                = '';
					$additionInformation = '';
					if ($token->getType() == Epr_Token::TYPE_API_ACCESS) {
						$type                = 'API';
						$additionInformation = $token->getAdditionInformation() . '<br />' . $token->getId();
					} else if ($token->getType() == Epr_Token::TYPE_IOS_APN) {
						$type            = 'iOS APN';
						$tokenComponents = __($token->getDeviceToken())->toArray(5);
						$prettyToken     = '&lt' . $tokenComponents->firstObject() . ' … ' . $tokenComponents->lastObject() . '&gt';
						$data            = array($prettyToken);
						if (is_string($token->getAdditionInformation())) {
							$data[] = $token->getAdditionInformation();
						}
						$additionInformation = implode('<br />', $data);
					} else if ($token->getType() == Epr_Token::TYPE_ANDROID_GCM) {
						$type            = 'Android GCM';
						$tokenComponents = __($token->getDeviceToken())->toArray(5);
						$prettyToken     = '&lt' . $tokenComponents->firstObject() . ' … ' . $tokenComponents->lastObject() . '&gt';
						$data            = array($prettyToken);
						if (is_string($token->getAdditionInformation())) {
							$data[] = $token->getAdditionInformation();
						}
						$additionInformation = implode('<br />', $data);
					}

					?>
					<tr class="<?php echo $cycle->next() ?>">
						<td><?= ($token->getUser()) ? $token->getUser()->getEmail() : '-' ?></td>
						<td><?= $token->getCreationDate()->format('Y-m-d H:i:s') ?></td>
						<td><?= ($token->getLastUsageDate() ? $token->getLastUsageDate()->format('Y-m-d H:i:s') : '') ?></td>
						<td><?= $type ?></td>
						<td><?= $additionInformation ?></td>
						<td>
							<a href="<?php echo $this->deleteUrl ?>/id/<?php echo $token->getId() ?>" title="Delete" class="icon-2 info-tooltip"></a>
							<?php if ($token->isDeviceToken()) { ?>
								<a href="javascript:sendTokenTestMessage('<?= $token->getId() ?>')"
								   title="Send Test Message" class="icon-9 info-tooltip"></a>
							<?php } ?>
						</td>


					</tr>
				<?php
				}
			}
		} ?>

	</table>
    <?= $this->paginateLinksHelper($this->items) ?>
    <?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_BOTTOM, $this->items) ?>
</form>
<a href="/admin/user/delete-notification-tokens"><?= _t('Delete all notification tokens') ?></a>&nbsp;|&nbsp;<a href="/admin/user/delete-api-tokens"><?= _t('Delete all API tokens') ?></a>