<div class="dashboard">
	<div class="item width-50 left">
		<h2>Platform News</h2>

		<div class="content">
			<?php if (isset($this->feed) && $this->feed instanceof Epr_Feed) { ?>

				<div>

					<?php
					foreach ($this->feed->getEntries() as $entry) {
						if ($entry instanceof Epr_Feed_Item) {

							$authors = null;
							if (count($entry->getAuthors() > 0)) {
								$authors = implode(', ', $entry->getAuthors());
							}

							?>


							<h3><?= $entry->getTitle() ?></h3>
							<div class="subtitle"><?= $entry->getReleaseDate()->format('Y-m-d H:i') ?>
								, <?= ($authors) ? $authors : 'Unknown author' ?></div>
							<div>
								<?= $entry->getText() ?>
							</div>


						<?php
						}
					} ?>
				</div>

			<?php } else { ?>

				Could not load feed.

			<?php } ?>
		</div>



		<h2>Technical Data</h2>
		<div class="content">
			<table>
				<tr class="underline">
					<td>Mode:</td>
					<td><?= APPLICATION_ENV ?></td>
				</tr>
				<tr>
					<td>PHP Version:</td>
					<td><?= phpversion() ?></td>
				</tr>
				<tr>
					<td>Zend Version:</td>
					<td><?= Zend_Version::VERSION ?></td>
				</tr>
				<tr class="underline">
					<td>CouchDB Version:</td>
					<td><?= $this->dbInfo['version'] ?></td>
				</tr>
				<tr>
					<td>Database Name:</td>
					<td><?= $this->dbInfo['db_name'] ?></td>
				</tr>
				<tr>
					<td>Number of Documents:</td>
					<td><?= $this->dbInfo['doc_count'] ?></td>
				</tr>
				<?php if (isset($this->dbInfo['data_size'])) { ?>
				<tr>
					<td>Data Size:</td>
					<td><?= \Poundation\PString::createHumanReadableSizeString($this->dbInfo['data_size']) ?></td>
				</tr>
				<?php } ?>
				<tr>
					<td>Disk Size:</td>
					<td><?= \Poundation\PString::createHumanReadableSizeString($this->dbInfo['disk_size']) ?></td>
				</tr>
				<tr>
					<td>Update Sequence:</td>
					<td><?= $this->dbInfo['update_seq'] ?></td>
				</tr>
				<tr>
					<td>Instance start time:</td>
					<td><?= date('Y-m-d H:i:s', round($this->dbInfo['instance_start_time'] / 1000 / 1000)) ?></td>
				</tr>


			</table>
		</div>

	</div>

	<div class="item width-50 right">
		<h2>Development News</h2>

		<div class="content">
			<?php if (isset($this->codeBaseFeed) && $this->codeBaseFeed instanceof Epr_Feed) { ?>

				<div>

					<?php
					foreach ($this->codeBaseFeed->getEntries() as $entry) {
						if ($entry instanceof Epr_Feed_Item) {

							$authors = null;
							if (count($entry->getAuthors() > 0)) {
								$authors = implode(', ', $entry->getAuthors());
							}

							?>


							<h3>
								<a href='<?= $entry->getUrl() ?>'>
									<?= $entry->getTitle() ?>
								</a>
							</h3>
							<div class="subtitle"><?= $entry->getReleaseDate()->format('Y-m-d H:i') ?>
								, <?= ($authors) ? $authors : 'Unknown author' ?></div>
							<div>
								<?= $entry->getText() ?>
							</div>


						<?php
						}
					} ?>
				</div>

			<?php } else { ?>

				Could not load feed.

			<?php } ?>
		</div>
	</div>
</div>