<?php
$page = Epr_Cms_Page::getPageWithPath(Epr_Modules_Users::PAGE_ACCOUNT_PATH);
?>

<?= $page ?>

<div class="row">
	<div class="col-lg-4 col-lg-offset-2">
		<h1><?= _t('my data') ?></h1>
		<?= $this->dataForm ?>
	</div>
	<div class="col-lg-4">
		<h1><?= _t('my password') ?></h1>
		<?php if (isset($this->passwordMessage)) { ?>
			<div class="alert alert-success"><?= $this->passwordMessage ?></div>
		<?php } ?>
		<?= $this->passwordForm ?>
	</div>

    <?php /**

    Commented due to #177.

    <div class="col-lg-4">
		<h1><?= _t('more actions') ?></h1>
		<?php if (_user() && count(_user()->getDeals()) > 0) { ?>
		<a class="btn btn-lg btn-success" href="/user/deals"><span class="glyphicon glyphicon-usd">&nbsp;<?= _t('my deals') ?></a>
		<?php } ?>
	</div>
    */ ?>
</div>





