<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>User - My Deals</h1>
</div>

<?php if (isset($this->deals) && is_array($this->deals) && count($this->deals) > 0) { ?>

    <div class="row">
        <div class="span12">
            <ul class="thumbnails">

                <?php
                foreach ($this->deals as $deal):
                    /** @var $deal Epr_User_Deal */
                    $titleImage = $deal->getTitleImageURL();
                    ?>
                    <li class="span4">
                        <div class="thumbnail">
                            <h5>
                                <a href="<?php echo $this->url(array('id' => $deal->getReferenceDealId()), 'dealsDetails') ?>"><?php echo $deal->getTitle()?></a>
                            </h5>
                            <small>
                                <?php echo $deal->getProvider() ?> | gültig
                                bis: <?php echo $deal->getEndDate()->format('Y/m/d')?>
                            </small>
                            <hr/>
                            <?php if (!is_null($titleImage) && $titleImage != '') { ?>
                                <a class="pull-left"
                                   href="<?php echo $this->url(array('id' => $deal->getReferenceDealId()), 'dealsDetails') ?>">
                                    <img class="media-object img-show-left" data-src="holder.js/64x64"
                                         style="max-height:100px" src="<?php echo $titleImage ?>">
                                </a>
                            <?php };?>

                            <p><?php echo $deal->getTeaser() ?></php></p>
                            <hr/>

                            <p>
                                <a class="btn btn-small btn-block"
                                   href="<?php echo $this->url(array('id' => $deal->getReferenceDealId()), 'dealsDetails') ?>">Deal
                                    ansehen</a>
                            </p>
                        </div>
                    </li>
                <?php endforeach;?>
            </ul>
        </div>
    </div>
<?php } else { ?>
    <div class="row">
        <div class="span12">
            <?php echo $this->translate('There are no deals.')?>
        </div>
    </div>
<?php } ?>
