<?php

$page = Epr_Cms_Page::getPageWithPath(Epr_Modules_Users::PAGE_LOGIN_PATH);

$page->skipElement(Epr_Modules_Users::LOGIN_INFO_PATH);
$infoElement = $page->getElementWithPath(Epr_Modules_Users::LOGIN_INFO_PATH);
$infoWidth = ($infoElement->hasContentToDisplay()) ? 4 : 0;

?>

<?= $page ?>

<div class="row">

	<div class="col-lg-4">
		<h1><?= _t('Login') ?></h1>
		<?php if (isset($this->loginError)) { ?>
			<div class="alert alert-danger"><?= $this->loginError ?></div>
		<?php } ?>
		<?php echo $this->loginForm ?>
	</div>
	<div class="col-lg-<?= (8 - $infoWidth) ?>">
		<h1><?= _t('Registration') ?></h1>
		<?php if (isset($this->registrationError)) { ?>
			<div class="alert alert-danger"><?= $this->registrationError ?></div>
		<?php } ?>
		<?= (isset($this->registrationForm)) ? $this->registrationForm : '' ?>
	</div>
	<?php if ($infoElement->hasContentToDisplay()) { ?>
		<div class="col-lg-<?= $infoWidth ?>">
			<?= $infoElement ?>
		</div>
	<?php } ?>
</div>

<div class="modal fade" id="modal-terms-of-use" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><?= _t("terms of use") ?></h4>
			</div>
			<div class="modal-body" style="height: 60%; overflow-y: scroll">
				<?= $this->termsOfUse ?>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal"><?= _t('Close') ?></button>
			</div>
		</div><
	</div>
</div>

<div class="modal fade" id="modal-privacy-policy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><?= _t("privacy policy") ?></h4>
			</div>
			<div class="modal-body" style="height: 60%; overflow-y: scroll">
				<?= $this->privacyPolicy ?>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal"><?= _t('Close') ?></button>
			</div>
		</div><
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function () {
		jQuery('a.terms-of-use').attr('data-toggle', 'modal').attr('data-target', '#modal-terms-of-use');
		jQuery('a.privacy-policy').attr('data-toggle', 'modal').attr('data-target', '#modal-privacy-policy');
	});
</script>