<div class="page-header">
	<h1><?= _t('claim a new password') ?></h1>
</div>

<div class="row">
	<div class="col-lg-12">
		<?php if (isset($this->errorMessage)) { ?>
			<div class="alert alert-danger"><?= $this->errorMessage ?></div>
		<?php } ?>


		<?php if (isset($this->form)) { ?>
			<?= $this->form ?>
		<?php } ?>
	</div>
</div>
