<h1>Register</h1>
<?php if($this->status != ''): ?>
<p class="control-group error"><span class="help-inline"><?php echo $this->status?> (<?php echo $this->code?>)</span></p>
<?php endif; ?>
<?php echo  $this->form ?>