<?php

$page = Epr_Cms_Page::getPageWithPath(Epr_Modules_Users::PAGE_RESET_PASSWORD_PATH);
$description = $page->getElementWithPath(Epr_Modules_Users::RESET_DESCRIPTION_PATH);

?>

<?php if ($description->hasContentToDisplay()) { ?>
	<div class="hero-unit jumbotron">
		<?= $description->renderedContent(1) ?>
	</div>
<?php } ?>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<?php if (isset($this->errorMessage)) { ?>
			<div class="alert alert-danger"><?= $this->errorMessage ?></div>
		<?php } ?>
		<?php if (isset($this->successMessage)) { ?>
			<div class="alert alert-success"><?= $this->successMessage ?></div>
		<?php } else { ?>
		<?= $this->form ?>
		<?php } ?>
	</div>
</div>