<?php

$page = Epr_Cms_Page::getPageWithPath(Epr_Modules_Users::PAGE_VERIFICATION_PATH);

$element = (isset($this->mail)) ? $page->getElementWithPath(Epr_Modules_Users::VERIFICATION_SUCCESS_PATH) : $page->getElementWithPath(Epr_Modules_Users::VERIFICATION_FAIL_PATH);
?>

<h1><?= $element->renderedTitle() ?></h1>

<?php if (isset($this->mail)) { ?>
	<div class="alert alert-success">
		<?= $element ?>
	</div>
<?php } else { ?>
	<div class="alert alert-block">
	   <?= $element ?>
	</div>
<?php } ?>