<?php
namespace Poundation;
use MyCouchDBProxyNS\__CG__\Epr_Content_Image;

?>

<?= $this->newsBreadcrumbs($this->categories, $this->category, $this->item) ?>

<div class="media">

	<div class="media-body">
		<?php

		$publishDate = new \Poundation\PDate($this->item->getPublishDate());

		$titleImage = $this->item->getTitleImage();
		if ($titleImage instanceof Epr_Content_Image) :

			$witdh  = min(max($titleImage->getWidth(), 150), 250);
			$height = $titleImage->getHeightByWidth($witdh);

			?>

			<img class="media-object holderjs pull-left"
				 style="{background:url(?holder.js/200x200/social) no-repeat}; width:<?= $witdh ?>px; height:<?= $height ?>px;"
				 src="<?php echo $titleImage->getPublicURL($witdh, $height); ?>">

		<?php
		endif;
		?>


		<h1 class="media-heading"><?php echo $this->item->getTitle() ?></h1>

		<p class="muted">
			<?php
			$categoriesPath = $this->item->getCategoryPathArray();
			$i = count($categoriesPath);
			echo $publishDate->getFormatedString('Y/m/d');
			if ($this->item->getSource()) {
				echo ', ' . $this->item->getSource();
			}
			?>

		</p>


		<?php echo $this->item->getText(); ?>
		<?php
		if ($this->item->getPublicUrl() != '') {
			?>
			<p class="pull-right">
				<a href="<?php echo $this->item->getPublicUrl() ?>"
				   class="btn btn-primary btn-large" target="_blank"><?= _t('More Information') ?> &raquo;</a>
			</p>
		<?php } ?>
	</div>
	<div class="clearfix"></div>

</div>
