<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><?php echo $this->title?></title>
    <link rel="stylesheet" href="/css/admin.css" type="text/css" media="screen" title="default"/>
    <!--[if IE]>
    <link rel="stylesheet" media="all" type="text/css" href="/css/pro_dropline_ie.css"/>
    <![endif]-->

    <!--  jquery -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />


	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<!--<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>-->
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	<script type="text/javascript" src="/js/jquery/jquery.ellipsis.js"></script>
	<script type="text/javascript" src="/js/jquery/jquery.forms.js"></script>

	<script type="text/javascript" src="/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/jquery.tinymce.js"></script>

    <![if !IE 7]>

    <!--  styled select box script version 1 -->
    <script src="/js/jquery/jquery.selectbox-0.5.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect').selectbox({ inputClass: "selectbox_styled" });
        });
    </script>
    <![endif]>

    <!--  styled select box script version 2 -->

    <script src="/js/jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
            $('.styledselect_form_2').selectbox({ inputClass: "styledselect_form_2" });
        });
    </script>


    <!--  styled select box script version 3 -->
    <script src="/js/jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect_pages').selectbox({ inputClass: "styledselect_pages" });
        });
    </script>

	<!-- Custom jquery scripts -->
	<!-- DW
    <script src="/js/jquery/custom_jquery.js" type="text/javascript"></script>
    -->

	<!-- Tooltips -->
	<link rel="stylesheet" href="/css/tooltip.css" type="text/css" />
    <script type="text/javascript">
		$(function() {
			$( document ).tooltip({
				position: {
					my: "center bottom-20",
					at: "center top",
					using: function( position, feedback ) {
						$( this ).css( position );
						$( "<div>" )
							.addClass( "arrow" )
							.addClass( feedback.vertical )
							.addClass( feedback.horizontal )
							.appendTo( this );
					}
				}
			});
		});
    </script>


	<script src="/js/jquery/date.js" type="text/javascript"></script>
	<script type="text/javascript">

		$(document).ready(function() {
			$('.date-picker').datepicker({
				dateFormat: 'yy-mm-dd',
				createButton: false,
				clickInput: true,
				startDate: '2013-01-01',
				endDate: '2020-12-31',
				rememberViewedMonth: true,
				numberOfMonths: 3,
				showButtonPanel: true,
				changeMonth: true,
				changeYear: true
			});
		});
	</script>

	<link rel="stylesheet" href="/css/jquery.timepicker.css" type="text/css" />
	<script src="/js/jquery/jquery.timepicker.js" type="text/javascript"></script>
	<script type="text/javascript">

		$(document).ready(function() {
			$('.time-picker').timepicker({ 'timeFormat': 'H:i', step: 5 });
			$('.time-picker').keypress(
				function(event) {
					event.preventDefault();
			}).keydown(
				function(event) {
					event.preventDefault();
			}).keyup(
				function(event) {
					event.preventDefault();
			});
		});
	</script>

	<!-- Color Picker -->

	<link rel="stylesheet" href="/css/jquery.minicolors.css" type="text/css"/>
	<link rel="stylesheet" href="/css/colorPicker.css" type="text/css"/>
	<script src="/js/jquery/jquery.minicolors.js" type="text/javascript"></script>

	<!-- Tabs in Textareas -->
	<script type="text/javascript" src="/js/jquery/jquery.tabAllowInTextareas.js"></script>
	<script type="text/javascript">
		$(function() {
			$('textarea.allowTab').allowTabChar();
		});
	</script>

	<!-- Image Browser -->

    <script src="/js/imageBrowser/main.js" type="text/javascript"></script>
    <script src="/js/imageBrowser/helpers.js" type="text/javascript"></script>
    <script src="/js/tools.js" type="text/javascript"></script>

	<!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
	<!-- DW
	<script src="/js/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(document).pngFix();
		});
	</script>
	-->
</head>
<body>
<!-- Start: page-top-outer -->
<div id="page-top-outer">

    <!-- Start: page-top -->
    <div id="page-top">


        <!--  start top-search -->

        <?php echo $this->placeholder('top-search'); ?>

        <!--  end top-search -->
        <div class="clear"></div>

    </div>
    <!-- End: page-top -->

</div>
<!-- End: page-top-outer -->

<div class="clear">&nbsp;</div>

<!--  start nav-outer-repeat................................................................................................. START -->

<div class="nav-outer-repeat">
    <!--  start nav-outer -->
    <div class="nav-outer">

        <?php
        $logo = _theme()->getLogoImage();
        if ($logo) {
        ?>
        <div id="logo">
            <a href="/admin"><img src="<?= $logo->getPublicIDBasedURL() ?>" /></a>
        </div>
        <?php } ?>

        <!-- start nav-right -->
        <?php echo $this->placeholder('navigation-right'); ?>
        <!-- end nav-right -->


        <!--  start nav -->
        <?php echo $this->placeholder('navigation'); ?>
        <!--  start nav -->

    </div>
    <div class="clear"></div>
    <!--  start nav-outer -->
</div>
<!--  start nav-outer-repeat................................................... END -->

<div class="clear"></div>

<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
    <!-- start content -->
    <div id="content">
        <!--  start page-heading -->
        <div id="page-heading">
            <h1><?php echo$this->pageHeading?></h1>
        </div>
        <!-- end page-heading -->


        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">

            <tr>
                <td>
                    <!--  start content-table-inner ...................................................................... START -->
                    <div id="content-table-inner">

                        <!--  start table-content  -->
                        <div id="table-content">


                            <?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('sysFlashMessenger');?>

                            <?php foreach ($flashMessenger->setNamespace('success')->getCurrentMessages() as $msg): ?>
                                <div class="message-green">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="green-left">
                                                <?php echo $msg ?>
                                            </td>
                                            <td class="green-right"><a class="close-green"><img
                                                        src="/images/table/icon_close_green.gif" alt=""/></a></td>
                                        </tr>
                                    </table>
                                </div>
                            <?php endforeach; ?>

                            <?php foreach ($flashMessenger->setNamespace('stat_success')->getMessages() as $msg): ?>
                                <div class="message-green">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="green-left">
                                                <?php echo $msg ?>
                                            </td>
                                            <td class="green-right"><a class="close-green"><img
                                                        src="/images/table/icon_close_green.gif" alt=""/></a></td>
                                        </tr>
                                    </table>
                                </div>
                            <?php endforeach; ?>



                            <?php foreach ($flashMessenger->setNamespace('error')->getCurrentMessages() as $msg): ?>
                                <div class="message-red">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="red-left">
                                                <?php echo $msg ?>
                                            </td>
                                            <td class="red-right"><a class="close-red"><img
                                                        src="/images/table/icon_close_red.gif" alt=""/></a></td>
                                        </tr>
                                    </table>
                                </div>
                            <?php endforeach; ?>

                            <?php foreach ($flashMessenger->setNamespace('stat_error')->getMessages() as $msg): ?>
                                <div class="message-red">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="red-left">
                                                <?php echo $msg ?>
                                            </td>
                                            <td class="red-right"><a class="close-red"><img
                                                        src="/images/table/icon_close_red.gif" alt=""/></a></td>
                                        </tr>
                                    </table>
                                </div>
                            <?php endforeach; ?>


                            <?php foreach ($flashMessenger->setNamespace('notice')->getCurrentMessages() as $msg): ?>
                                <div class="message-yellow">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="yellow-left">
                                                <?php echo $msg ?>
                                            </td>
                                            <td class="yellow-right"><a class="close-yellow"><img
                                                        src="/images/table/icon_close_yellow.gif" alt=""/></a></td>
                                        </tr>
                                    </table>
                                </div>
                            <?php endforeach; ?>

                            <?php foreach ($flashMessenger->setNamespace('stat_notice')->getMessages() as $msg): ?>
                                <div class="message-yellow">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="yellow-left">
                                                <?php echo $msg ?>
                                            </td>
                                            <td class="yellow-right"><a class="close-yellow"><img
                                                        src="/images/table/icon_close_yellow.gif" alt=""/></a></td>
                                        </tr>
                                    </table>
                                </div>
                            <?php endforeach; ?>

                            <?php foreach ($flashMessenger->setNamespace('info')->getCurrentMessages() as $msg): ?>
                                <div class="message-blue">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="blue-left">
                                                <?php echo $msg ?>
                                            </td>
                                            <td class="blue-right"><a class="close-blue"><img
                                                        src="/images/table/icon_close_blue.gif" alt=""/></a></td>
                                        </tr>
                                    </table>
                                </div>
                            <?php endforeach; ?>


                            <?php foreach ($flashMessenger->setNamespace('stat_info')->getMessages() as $msg): ?>
                                <div class="message-blue">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="blue-left">
                                                <?php echo $msg ?>
                                            </td>
                                            <td class="blue-right"><a class="close-blue"><img
                                                        src="/images/table/icon_close_blue.gif" alt=""/></a></td>
                                        </tr>
                                    </table>
                                </div>
                            <?php endforeach; ?>

                            <?php echo $this->layout()->content ?>


                        </div>
                        <!--  end content-table-inner ............................................END  -->
                </td>

            </tr>
        </table>
        <div class="clear">&nbsp;</div>

    </div>
    <!--  end content -->
    <div class="clear">&nbsp;</div>
</div>
<!--  end content-outer........................................................END -->

<div class="clear">&nbsp;</div>

<!-- start footer -->
<div id="footer">
    <!--  start footer-left -->
    <div id="footer-content">
		<img src="/images/shared/icon_logo.png" />
        <?php echo _app()->getName() ?> &copy; Copyright staffdeal GmbH. All rights reserved.
		<div class="right">
			Env: <?= APPLICATION_MODE ?>,
			<?php
				$data = array(
					'Doc: ' . _app()->getDocumentsVersion()
				);
			  	$branch = _app()->getCommitBranch();
				$rev = _app()->getCommitRevision();
				$date = _app()->getCommitDate();

				if ($rev) {
					$data[] = 'Rev: ' . $rev;
				}

				if ($branch) {
					$data[] = 'Branch: ' . $branch;
				}

				if ($date) {
					$data[] = 'Commit: ' . $date->getFormatedString('Y/m/d H:i');
				}

			?>

			<?php echo implode(', ', $data) ?>

		</div>
	</div>
    <!--  end footer-left -->
    <div class="clear">&nbsp;</div>
</div>
<!-- end footer -->

<div id="imageBrowserOverlay">

</div>

<div id="imageBrowserContainer">


    <div id="imageBrowserMenu">
        <a href="#" id="imageBrowserCancelButton">X</a>
        <button class="imageBrowserButton" id="imageBrowserConfirmButton">Select</button>
        <div id="imageBrowserSorting">
            <button onclick="changeSortingToField('name');" class="imageBrowserButton" id="imageBrowserSortButtonName">Name</button>
            <button onclick="changeSortingToField('creationDate');" class="imageBrowserButton" id="imageBrowserSortButtonCreationDate">Date</button>
            <button class="imageBrowserButton" id="imageBrowserShowUpload">Add image</button>
            <button class="imageBrowserButton" id="ajaxImageCancelUploadButton">Cancel Upload</button>
        </div>

        <div id="imageBrowserSearch">
            <input type="text" placeholder="search" name="image-q" id="image-q" onkeyup="return searchForImage(event)" />
        </div>
    </div>
    <div class="clear"></div>
    <div id="imageBrowserContent">
    </div>
    <div id="imageBrowserUpload">
        <form id="ajaxImageUploadForm" method="post"
              enctype="multipart/form-data">
            <input type="file" name="image[]" id="ajaxImageUploadFile" multiple>
            <button id="ajaxImageUploadButton" class="imageBrowserButton">Upload</button>
        </form>

        <div id="ajaxUploadProgressContainer">
            <div id="ajaxUploadProgress"></div>
        </div>
    </div>
    <div id="imageBrowserNavigation">
        <table style="width:100%;">
            <tr>
                <td>
                    <button onclick="loadPrevious();" class="imageBrowserButton" id="imageBrowserNavigationButtonPrevious" disabled><<</button>
                </td>
                <td class="paginationInfo"></td>
                <td>
                    <button onclick="loadNext();" class="imageBrowserButton pull-right" id="imageBrowserNavigationButtonNext" disabled>>></button>
                </td>
            </tr>
        </table>
    </div>

</div>
<div id="imageBrowserAjaxLoader"></div>

<script type="text/javascript">

    imageBrowserBasePath = '<?php echo _app()->getPublicURL() ?>';

    $(function () {
        initEditors('textarea.wysiwyg');
    });
</script>


</body>
</html>