<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?= _theme()->getTitle() ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="ss:revision" content="<?= _app()->getCommitRevision() ?>">
    <meta name="ss:date" content="<?= _app()->getCommitDate()->getInISO8601Format() ?>">
    <meta name="ss:package" content="<?= _app()->getCommitBranch() ?>">

    <?php
    $appstoresModules = _app()->getModuleWithIdentifier(Epr_Modules_Appstores::identifier());
    if ($appstoresModules instanceof Epr_Modules_Appstores) {
        $appleId = $appstoresModules->getAppleId();
        $googleId = $appstoresModules->getGoogleId();
        if (strlen($appleId) > 0) {
            ?>
            <meta name="apple-itunes-app" content="app-id=<?= $appleId ?>">
        <?php
        }

        if (strlen($googleId) > 0) {
            ?>
            <meta name="google-play-app" content="app-id=<?= $googleId ?>">
        <?php } ?>
    <?php } ?>
    <meta name="author" content="<?= _app()->getName() ?>">

    <script src="<?php echo $this->baseUrl() ?>/js/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="/socialshareprivacy/jquery.socialshareprivacy.js"></script>


    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            if ($('#socialshareprivacy').length > 0) {
                $('#socialshareprivacy').socialSharePrivacy();
            }
        });
    </script>

    <script language="javascript">
        (function(){
            if( document.cookie.indexOf('retina') == -1 && 'devicePixelRatio' in window && window.devicePixelRatio == 2 ){
                document.cookie = 'retina=' + window.devicePixelRatio + ';' + ' path=/';
            }
        })();
    </script>

    <?php
    if (_theme()->getCustomHTMLHeader()) {
        echo "<!-- Custom HTML Header -->\n\t" . _theme()->getCustomHTMLHeader() . "\n";
    }
    ?>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
    <link href="/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link href="<?php echo $this->baseUrl() ?>/css/frontend.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl() ?>/css/frontend-print.css" rel="stylesheet" media="print">
    <script src="<?php echo $this->baseUrl() ?>/js/holder.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="<?php echo $this->baseUrl()?>/js/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/jquery.smartbanner.css" type="text/css" media="screen">

    <?php
    $favicon = _theme()->getFaviconImage();
    $appleTouch = _theme()->getAppleTouchIcon();
    $appleTouch72 = _theme()->getAppleTouchIcon72();
    $appleTouch114 = _theme()->getAppleTouchIcon114();
    $appleTouch144 = _theme()->getAppleTouchIcon144();

    if ($favicon instanceof Epr_Content_Image) {
        $mime = $favicon->getMIME();
        ?>
        <link rel="shortcut icon" type="<?= $mime->getMIMEType() ?>" href="<?= $favicon->getPublicURL(16, 16); ?>">
    <?php } ?>

    <?php if ($appleTouch instanceof Epr_Content_Image) { ?>
        <link rel="apple-touch-icon-precomposed" href="<?= $appleTouch->getPublicURL() ?>">
    <?php } ?>
    <?php if ($appleTouch72 instanceof Epr_Content_Image) { ?>
        <link rel="apple-touch-icon-precomposed" size="72x72" href="<?= $appleTouch72->getPublicURL() ?>">
    <?php } ?>
    <?php if ($appleTouch114 instanceof Epr_Content_Image) { ?>
        <link rel="apple-touch-icon-precomposed" size="114x114" href="<?= $appleTouch114->getPublicURL() ?>">
    <?php } ?>
    <?php if ($appleTouch144 instanceof Epr_Content_Image) { ?>
        <link rel="apple-touch-icon-precomposed" size="144x144" href="<?= $appleTouch144->getPublicURL() ?>">
    <?php } ?>

    <link rel="stylesheet" href="/files/css/theme.css">

    <?php if (_theme()->getCustomCSS()): ?>
        <!-- Custom CSS -->
        <style type="text/css">

            <?= _theme()->getCustomCSS() ?>

        </style>
    <?php endif ?>


    <?php
        $analyticsModule = _app()->getModuleWithIdentifier(Epr_Modules_Analytics::identifier());
        if ($analyticsModule instanceof Epr_Modules_Analytics) {
            if ($analyticsModule->isGoogleAnalyticsEnabled()) {
                ?>
    <script type="text/javascript">
        <?= $analyticsModule->getGoogleAnalyticsJavascript(false) ?>
    </script>
                <?php
            }
        }
    ?>
</head>

<body>

<!--  start nav -->
<?php echo $this->placeholder('navigation'); ?>
<!--  start nav -->

<div class="container">
    <?php echo $this->message ?>

    <?php echo $this->placeholder('Zend_Layout')->content; ?>
</div>

<?php echo $this->placeholder('footer'); ?>

<!-- /container -->

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="text"].autofocus').focus();
        $('.link-to').each(function (index) {
           var element = $(this);
           var target = element.attr('data-link-to');
            if (target) {
                element.css('cursor','pointer');
                element.click(function (event) {
                    if(element.parent().hasClass('deals')){
                        window.open(target,'_blank');
                    }else{
                        window.location = target;                        
                    }
                    event.preventDefault();
                })
            }
        });

    });
</script>

<script src="/js/jquery/jquery.smartbanner.js"></script>
<script type="text/javascript">
    $(function() { $.smartbanner() } )
</script>

</body>
</html>
