<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><?php echo $this->title?></title>
    <link rel="stylesheet" href="/css/admin.css" type="text/css" media="screen" title="default" />
    <!--  jquery core -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <!-- Custom jquery scripts -->
    <script src="/js/jquery/custom_jquery.js" type="text/javascript"></script>

    <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
    <script src="/js/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(document).pngFix( );
        });
    </script>
</head>
<body id="login-bg">

<!-- Start: login-holder -->
<div id="login-holder">

    <!-- start logo -->
    <div id="logo-login">
        <a href="index.html"><img src="/images/shared/logo.png" width="156" height="40" alt="" /></a>
    </div>
    <!-- end logo -->

    <div class="clear"></div>

   <?php echo $this->layout()->content?>

</div>
<!-- End: login-holder -->
</body>
</html>