<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr valign="top">
		<td>

			<?php echo $this->placeholder('steps');?>
			<?php echo $this->form ?>

			<script type="text/javascript">
				wysiwygContext = {
					<?= Epr_Cms_Element_HTML::CMS_ELEMENT_FORM_FIELD_CONTENT ?>: <?php echo Epr_Content_Image::ACCESS_CMS_IMAGE ?>
				};
			</script>

		</td>
		<td>

			<?php echo $this->placeholder('related-activities'); ?>

		</td>
	</tr>
	<tr>
		<td><img src="/images/shared/blank.gif" width="695" height="1" alt="blank" /></td>
		<td></td>
	</tr>
</table>
<?php if (isset($this->subelements) && is_iterable($this->subelements) && count($this->subelements) > 0) { ?>
	<div style="margin-top: 20px;">
	<h2>Subelements</h2>
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
	<tr>
		<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Path')?></a></th>
		<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Type')?></a></th>
		<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Title')?></a></th>
		<th class="table-header-options line-left"><a href="">Options</a></th>
	</tr>

	<?php $cycle=$this->cycle(array("","alternate-row"));?>

	<?php
	foreach($this->subelements as $element) {
		if ($element instanceof Epr_Cms_Element) {
			?>
			<tr class="<?php echo $cycle->next()?>">
				<td><?= $element->getPath() ?></td>
				<td><?= \Poundation\PClass::classFromObject($element)->invokeMethod('getTypeString') ?></td>
				<td><?= $element->getTitle() ?></td>
				<td class="options-width">
					<a href="<?php echo $this->editUrl?>/path/<?php echo $element->getAbsolutePath() ?>" title="Edit" class="icon-1 info-tooltip"></a>
				</td>
			</tr>
		<?php }} ?>
</table>
	</div>
<?php } ?>