<form id="mainform" action="asdf">
	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-check"><a id="toggle-all" ></a> </th>
			<th class="table-header-repeat line-left table-header-titleImage"><?php echo $this->translate('Background')?></th>
			<th class="table-header-repeat line-left table-header-titleImage"><?php echo $this->translate('Tint Color')?></th>
			<th class="table-header-repeat line-left table-header-titleImage"><?php echo $this->translate('Logo')?></th>
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Name')?></a></th>
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Title')?></a></th>
			<th class="table-header-options line-left"><a href="">Options</a></th>
		</tr>

		<?php $cycle=$this->cycle(array("","alternate-row"));?>

		<?php
		foreach($this->themes as $theme) {
			if ($theme instanceof Epr_Theme) {
				?>
				<tr class="<?php echo $cycle->next()?>">
					<td><input  type="checkbox"/></td>
					<td class="table-cell-icon">
						<div style="background-color: <?php echo  $theme->getBackgroundColor() ?>">
							<img src="/images/forms/shine-72x54.png" />
						</div>
					</td>
					<td class="table-cell-icon">
						<div style="background-color: <?php echo  $theme->getTintColor() ?>">
							<img src="/images/forms/shine-72x54.png" />
						</div>
					</td>
					<td class="table-cell-icon">
						<?php if ($theme->getLogoImage()): ?>
							<img src="<?= $theme->getLogoImage()->getPublicIDBasedURL(100,100) ?>" />
					    <?php endif ?>
					</td>
					<td><?= $theme->getName() ?></td>
					<td><?= $theme->getTitle()?></td>

					<td class="options-width">
						<a href="<?php echo $this->editUrl?>/id/<?php echo $theme->getId()?>" title="Edit" class="icon-1 info-tooltip"></a>
					</td>
				</tr>
			<?php }} ?>
	</table>
</form>