<form id="mainform" action="asdf">
	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Path')?></a></th>
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Title')?></a></th>
			<th class="table-header-options line-left"><a href="">Options</a></th>
		</tr>

		<?php $cycle=$this->cycle(array("","alternate-row"));?>

		<?php
		foreach($this->elements as $element) {
			if ($element instanceof Epr_Cms_Element) {
				?>
				<tr class="<?php echo $cycle->next()?>">
					<td><?= $element->getPath() ?></td>
					<td><?= $element->getTitle() ?></td>

					<td class="options-width">
						<a href="<?php echo $this->editUrl?>/path/<?php echo $element->getAbsolutePath() ?>" title="Edit" class="icon-1 info-tooltip"></a>
					</td>
				</tr>
			<?php }} ?>
	</table>
</form>