<form id="mainform" action="asdf">
	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-repeat line-left minwidth-1"><a
					href=""><?php echo $this->translate('Language') ?></a></th>
			<th class="table-header-repeat line-left minwidth-1"><a
					href=""><?php echo $this->translate('Context') ?></a></th>
			<th class="table-header-repeat line-left minwidth-1"><a href=""><?php echo $this->translate('Count') ?></a>
			</th>
			<th class="table-header-repeat line-left minwidth-1"><a
					href=""><?php echo $this->translate('Count Missing') ?></a></th>
			<th class="table-header-options line-left"><a href="">Options</a></th>
		</tr>

		<?php $cycle = $this->cycle(array(
										 "",
										 "alternate-row"
									)); ?>

		<?php
		if (isset($this->elements)) {
			foreach ($this->elements as $element) {
				if ($element instanceof Epr_Translate_Locale) {
					?>
					<tr class="<?php echo $cycle->next() ?>">
						<td><?= $element->getLocale() ?></td>
						<td><?= $element->getContext() ?></td>
						<td><?= $element->count() ?></td>
						<td><?= $element->countMissing() ?></td>

						<td class="options-width">
							<?php if ($element->getContext() != 'admin' || _user()->isRoot()) { ?>
								<a href="<?php echo $this->editUrl ?>/id/<?php echo $element->getId() ?>" title="Edit"
								   class="icon-1 info-tooltip"></a>
							<?php } ?>
							<?php if (($element->getContext() != 'admin' || _user()->isRoot()) && $element->countMissing() > 0) { ?>
								<a href="<?php echo $this->editUrl ?>/id/<?php echo $element->getId() ?>/onlyMissing/true"
								   title="Edit missing" class="icon-1 info-tooltip"></a>
							<?php } ?>
							<?php if (_user()->isRoot()) { ?>
								<a href="<?php echo $this->deleteUrl ?>/id/<?php echo $element->getId() ?>"
								   title="Delete" class="icon-2 info-tooltip"
								   onclick="return confirm('<?php echo $this->translate('Delete Translation?') ?>');"></a>
							<?php } ?>
						</td>
					</tr>
				<?php }
			}
		} ?>
	</table>
</form>