<?= $this->paginateLinksHelper($this->deals) ?>
<?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_TOP, $this->deals) ?>
<form id="mainform">
    <?= $this->searchBoxHelper(array(
        'active' => 'active:true',
        'not active' => 'active:false',
        'featured' => 'featured:true',
        'not featured' => 'featured:false'
    )) ?>
  <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" class="data-table-v2">
    <tr>
      <th class="table-header-repeat line-left table-header-titleImage"><?php echo $this->translate('Title Image')?></th>
      <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('title', $this->translate('Title')) ?></th>
      <th class="table-header-repeat line-left width-200"><?= $this->sortLinksHelper('startDate', $this->translate('Start Date - End Date')) ?></th>
      <th class="table-header-repeat line-left width-100"><?= $this->sortLinksHelper('featured', $this->translate('Featured')) ?></th>
      <th class="table-header-repeat line-left width-150 center"><span>Online</span></th>
      <th class="table-header-options line-left width-125"><span>Options</span></th>
    </tr>

      <?php $cycle=$this->cycle(array("row","alternate-row"));?>

      <?php if (count($this->deals)>0) : ?>

      <?php foreach ($this->deals as $deal) :
          /* @var Epr_Deal $deal */
              $editURL = $this->editUrl . '/id/' . $deal->getId();
          ?>

      <tr class="<?php echo  $cycle->next() ?> <?php echo !$deal->isActive()?'row_inactive':''?>" onclick="document.location='<?= $editURL ?>'">
        <td class="table-cell-titleImage">
            <?php
            $titleImage = $deal->getTitleImage();
            if ($titleImage) {
                ?>
                <img src="<?php echo  $titleImage->getPublicIDBasedURL(72,54) ?>" class="titleImage" />
                <?php
            }
            ?>
        </td>
        <td><?php echo $deal->getTitle()?></td>
        <td class="center"><?php echo $deal->getStartDate()->format('Y/m/d');?> -- <?php echo $deal->getEndDate()->format('Y/m/d');?></td>
        <td class="center"><a href="<?= $this->featureURL ?>/id/<?= $deal->getId() ?>"><?php echo $deal->isFeatured()? \Poundation\PString::HTMLStringWithCheckMark() : \Poundation\PString::HTMLStringWithBallotX() ?></a></td>
        <td class="center <?= (($deal->getOnlineCodeModule()->hasWarning()) ? 'red' : '') ?>">
            <?php
            if ($deal->isManuallySoldOut()) {
                echo \Poundation\PString::HTMLStringWithBallotX()->appendString(' ' . _t('Manually sold out'));
            } else {
                $onlineModule = $deal->getOnlineCodeModule();
                if ($onlineModule instanceof Epr_Modules_CodeList) {
                    if ($onlineModule->getMode() == Epr_Modules_CodeList::MODE_NONE) {
                        ?> <?= \Poundation\PString::HTMLStringWithCheckMark() ?> (No code) <?php
                    } else if ($onlineModule->getMode() == Epr_Modules_CodeList::MODE_UNIQUE) {
                        echo count($onlineModule->getCodeList()) . '/' . $onlineModule->getTotalNumberOfCodes() . ' (' . $onlineModule->getUsedPercentage() * 100 . '%)';
                    } else if ($onlineModule->getMode() == Epr_Modules_CodeList::MODE_SHARED) {
                        ?> Shared <?php
                    } else {
                        ?> <?= \Poundation\PString::HTMLStringWithBallotX() ?> <?php
                    }
                }
            }
            ?>
        </td>

        <td class="options-width">
          <!--<a href="<?php echo $this->previewUrl?>/id/<?php echo $deal->getId()?>" title="Preview" class="icon-3 info-tooltip"></a>-->
          <a href="<?php echo $this->deleteUrl?>/id/<?php echo $deal->getId()?>" title="Delete" class="icon-2 info-tooltip" onclick="return confirm('<?php echo $this->translate('Delete Item?')?>');"></a>
          <a href="<?php echo $this->deactivateUrl?>/id/<?php echo $deal->getId()?>" title="<?php echo $this->translate($deal->isActive()?'Deactivate Item':'Activate Item')?>" class="icon-5 info-tooltip"  onclick="return confirm('<?php echo $this->translate($deal->isActive()?'Deactivate Item?':'Activate Item?')?>');"></a>
        </td>
      </tr>
          <?php endforeach; ?>


      <?php endif; ?>
  </table>
    <?= $this->paginateLinksHelper($this->deals) ?>
    <?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_BOTTOM, $this->deals) ?>
</form>
<div class="clear"></div>