<dealers>
    <?php
    foreach ($this->dealers as $dealer) {
        if ($dealer instanceof Epr_Dealer) {
            ?>
            <dealer id="<?= $dealer->getId() ?>">
                <name><![CDATA[<?= $dealer->getTitle() ?>]]></name>
                <?php if ($dealer->getAddress()) { ?>
                    <address>
                        <?php if ($dealer->getAddress()->getStreet()) { ?>
                            <street><![CDATA[<?= $dealer->getAddress()->getStreet() ?>]]></street>
                        <?php } ?>
                        <?php if ($dealer->getAddress()->getZip()) { ?>
                            <zip><?= $dealer->getAddress()->getZip() ?></zip>
                        <?php } ?>
                        <?php if ($dealer->getAddress()->getCity()) { ?>
                            <city><![CDATA[<?= $dealer->getAddress()->getCity() ?>]]></city>
                        <?php } ?>
                        <?php if ($dealer->getAddress()->getCountry()) { ?>
                            <country><![CDATA[<?= $dealer->getAddress()->getCountry() ?>]]></country>
                        <?php } ?>
                    </address>
                <?php } ?>
                <?php if ($dealer->getAddress() && $dealer->getAddress()->getCoordinate()) { ?>
                    <location>
                        <lat><?= $dealer->getAddress()->getCoordinate()->getLatitude() ?></lat>
                        <lon><?= $dealer->getAddress()->getCoordinate()->getLongitude() ?></lon>
                    </location>
                <?php } ?>
                <?php if ($dealer->getTelephone()) { ?>
                    <telephone><?= $dealer->getTelephone() ?></telephone>
                <?php } ?>
                <?php if ($dealer->getWeb()) { ?>
                    <url><![CDATA[<?= $dealer->getWeb() ?>]]></url>
                <?php } ?>
                <?php if ($dealer->getEmail()) { ?>
                    <email><![CDATA[<?= $dealer->getEmail() ?>]]></email>
                <?php } ?>
            </dealer>
        <?php }
    } ?>
</dealers>