<info>
	<?php if (isset($this->iOSVersion) || isset($this->AndroidVersion)) { ?>
		<apps>
			<?php if (isset($this->iOSVersion)) { ?>
				<iOS>
					<version><?= $this->iOSVersion ?></version>
				</iOS>
			<?php } ?>
			<?php if (isset($this->AndroidVersion)) { ?>
				<Android>
					<version><?= $this->AndroidVersion ?></version>
				</Android>
			<?php } ?>
			<?php if (isset($this->updateText)) { ?>
			    <updateText><?= $this->updateText ?></updateText>
			<?php } ?>
		</apps>
	<?php } ?>
	<client>
		<name><?php echo  $this->clientName ?></name>
		<email><?php echo  $this->clientMail ?></email>
		<about><![CDATA[<?= xmlentities($this->about) ?>]]></about>
		<impress><![CDATA[<?= xmlentities($this->impress) ?>]]></impress>
        <?php if (isset($this->reasonsMobile) && strlen($this->reasonsMobile) > 0) { ?>
        <reasons>
            <mobile><![CDATA[<?= xmlentities(trim($this->reasonsMobile)) ?>]]></mobile>
        </reasons>
        <?php } ?>
		<?php if (isset($this->mediaURL)) { ?>
			<mediaURL><?= $this->mediaURL ?></mediaURL>
		<?php } ?>
		<?php if (isset($this->FacebookPageURL)) { ?>
			<facebookPageURL><?= $this->FacebookPageURL ?></facebookPageURL>
		<?php } ?>
        <?php if ($this->facebookProfileID) { ?>
            <facebookProfileID><?= $this->facebookProfileID ?></facebookProfileID>
        <?php } ?>
		<?php if (isset($this->TwitterPageURL)) { ?>
			<twitterPageURL><?= $this->TwitterPageURL ?></twitterPageURL>
		<?php } ?>
        <?php if ($this->twitterProfileName) { ?>
            <twitterProfileName><?= $this->twitterProfileName ?></twitterProfileName>
        <?php } ?>

	</client>
	<?php if (isset($this->token) && ($this->token instanceof Epr_Token)) {
		$user = $this->token->getUser();
		if ($user && $user instanceof Epr_User) {
			?>
			<user id="<?php echo  $this->token->getUser()->getId() ?>">
				<firstname><?php echo  $this->token->getUser()->getFirstname() ?></firstname>
				<lastname><?php echo  $this->token->getUser()->getLastname() ?></lastname>
				<email><?php echo  $this->token->getUser()->getEmail() ?></email>
			</user>
		<?php
		}
	} ?>
	<modules>
		<?php if (isset($this->modules)) {
			foreach ($this->modules as $module) {
				if ($module instanceof Epr_Module_Abstract) {
					?>
					<module
						id="<?php echo  __($module->getId())->substringFromPositionOfString('_')->removeLeadingCharactersWhenMatching('_')->lowercase() ?>">
						<title><?php echo  $module->getDisplayname() ?></title>
						<path><?php echo  $module->getAPIPath() ?></path>
						<authLevel><?php echo  $module->getAPIAuthLevel() ?></authLevel>
						<?php
						if ($module instanceof Epr_Module_API_Abstract) {
							$templates = $module->getTemplates();
							if (count($templates) > 0) { ?>
								<templates>
									<?php foreach ($templates as $data) { ?>
										<template useFor="<?= $data['id'] ?>" platform="<?= $data['platform'] ?>" hash="<?= $module->getTemplateHashForIdentifier($data['id'], $data['platform']) ?>">
											<![CDATA[<?= _app()->getPublicURL()->addPathComponent('files/templates/')->addPathComponent($module->getAPIPath())->addPathComponent($data['platform'])->addPathComponent($data['id'] . '.html') ?>]]>
										</template>
									<?php } ?>
								</templates>
							<?php }
						}
						?>
					</module>
				<?php } ?>
			<?php
			}
		} ?>
		<module id="settings">
			<title>Einstellungen</title>
			<authLevel>guest</authLevel>
		</module>
	</modules>
	<?php
	if (isset($this->registrationModule)) {
		$module = $this->registrationModule;
		if ($module instanceof Epr_Module_UserRegistration_Abstract) {
			?>
			<registration>
				<?php if ($module->getPrivacyPolicy()) { ?>
					<privacyPolicy><![CDATA[<?php echo xmlentities($module->getPrivacyPolicy()) ?>]]></privacyPolicy>
				<?php
				}
				if ($module->getTermsOfUse()) {
					?>
					<termsOfUse><![CDATA[<?php echo xmlentities($module->getTermsOfUse()) ?>]]></termsOfUse>
				<?php
				}
				if ($module->getRegistrationHint()) {
					?>
					<hint><![CDATA[<?php echo xmlentities($module->getRegistrationHint()) ?>]]></hint>
				<?php } ?>
				<path><?php echo  $module->getAPIPath() ?></path>

				<?php
				$fields = $module->registrationFields();
				if (is_array($fields) && count($fields) > 0) {
					?>
					<fields>
						<?php
						foreach ($fields as $field) {
							if ($field instanceof Epr_Module_UserRegistration_Field) {
                                $attributes = array();
                                $additionalFields = $field->getAdditionalFields();
                                if (count($additionalFields) > 0) {
                                    foreach($additionalFields as $name => $value) {
                                        $attributes[] = $name . '="' . $value . '"';
                                    }
                                }
								?>
								<field name="<?php echo  $field->getName() ?>" type="<?php echo  $field->getType() ?>"
									   required="<?php echo  ($field->getRequired()) ? 'true' : 'false' ?>"<?= (count($attributes) > 0) ? (' ' . implode(' ', $attributes)) : '' ?>><?php echo  $field->getCaption() ?></field>
							<?php
							}
						} ?>
					</fields>
					<passwordPolicies>
						<minimumLength><?php echo  $module->getPasswordMinimumLength() ?></minimumLength>
						<containsNumber><?php echo  ($module->getPasswordContainsNumber()) ? 'true' : 'false' ?></containsNumber>
						<containsLetter><?php echo  ($module->getPasswordContainsLetter()) ? 'true' : 'false' ?></containsLetter>
						<containsCapital><?php echo  ($module->getPasswordContainsCapital()) ? 'true' : 'false' ?></containsCapital>
						<containsSymbol><?php echo  ($module->getPasswordContainsSymbol()) ? 'true' : 'false' ?></containsSymbol>
					</passwordPolicies>
				<?php
				}
				?>

			</registration>
		<?php } ?>
	<?php } ?>
	<?php if (isset($this->analyticsModule) && $this->analyticsModule instanceof Epr_Modules_Analytics && $this->analyticsModule->hasAnalytics()) { ?>
		<analytics>
			<?php if ($this->analyticsModule->isGoogleAnalyticsEnabled()) { ?>
				<google id="<?= $this->analyticsModule->getGoogleAnalyticsID() ?>" />
			<?php } ?>
		</analytics>
	<?php } ?>
</info>