<subscription>
	<?php if ($this->token instanceof Epr_Token && $this->token->isDeviceToken()) {  ?>
	<token><?= $this->token->getId() ?></token>
	<?php if (count($this->token->getTopics()) > 0) { ?>
	    <topics>
			<?php foreach($this->token->getTopics() as $topic) { ?>
			    <topic><?= $topic ?></topic>
			<?php } ?>
	    </topics>
	<?php } ?>
	<?php } ?>
</subscription>
