
.minicolors-input {
    width: 80px;
    height: 25px;
    border: 1px solid #B0B0B0;
    padding: 3px;
    padding-left: 27px;
    color: #393939;
    font-size: 12pt;
    margin-left: -22px;
}

.minicolors-swatch {
    border: 0px;
    height: 31px;
    border-right: 1px solid #B0B0B0;
    margin-top: -4px;
}