table.jCalendar	{
	background: #fff;
	 
	border-collapse: collapse;
	}
table.jCalendar th	{
	background: url(../images/shared/cal_th_repeat.jpg) repeat-x;
	color: #fff;
	font-weight: bold;
	padding: 8px 8px;
	}
table.jCalendar td	{
	color: #777777;
	font-size: 11px;
	font-weight: bold;
	padding: 9px 9px;
	text-align: center;
    height: 25px;
	}
table.jCalendar td.other-month	{
	background: #ddd;
	color: #aaa;
	font-weight: bold;
	}
table.jCalendar td.today	{
	background: #666;
	color: #fff;
	font-weight: bold;
	}
table.jCalendar td.selected	{
	background: #94b52c;
	color: #fff;
	font-weight: bold;
	}
table.jCalendar td.selected.dp-hover	{
	background: #94b52c;
	color: #fff;
	font-weight: bold;
	}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td	{
	background: #94b52c;
	color: #fff;
	font-weight: bold;
	}
table.jCalendar tr.selectedWeek td	{
	background: #f66;
	color: #fff;
	font-weight: bold;
	}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover	{
	background: #bbb;
	color: #888;
	font-weight: bold;
	}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover	{
	background: #bbb;
	color: #888;
	}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */
div.dp-popup	{
	background: url(../images/shared/cal_top_repeat.jpg) repeat-x;
	border: 1px solid #c7c7c7;
	font-family: arial, sans-serif;
	font-size: 10px;
	line-height: 1.2em;
	position: relative;
	}
div#dp-popup	{
	position: absolute;
	z-index: 199;
	}
div.dp-popup h2	{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0;
	padding: 0;
	text-align: center;
	}
a#dp-close	{
	display: block;
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	}
a#dp-close:hover	{
	text-decoration: underline;
	}
div.dp-popup a	{
	color: #000;
	padding: 3px 2px 0;
	text-decoration: none;
	}
div.dp-popup div.dp-nav-prev	{
	background: url(../images/shared/year_prev.gif) no-repeat 0 6px;
	left: 20px;
	position: absolute;
	text-indent: -3000px;
	top: 6px;
	width: 100px;
	}
div.dp-popup div.dp-nav-prev a	{
	float: left;
	}
	
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a	{
	color: #fff;
	cursor: pointer;
	}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled	{
	cursor: default;
	}
div.dp-popup div.dp-nav-next	{
	background: url(../images/shared/year_next.gif) no-repeat 6px 6px;
	position: absolute;
	right: 20px;
	text-indent: -3000px;
	top: 6px;
	width: 10px;
	}
div.dp-popup div.dp-nav-next a	{
	float: right;
	}
div.dp-popup a.disabled	{
	color: #aaa;
	cursor: default;
	}
div.dp-popup td	{
	cursor: pointer;
	}
div.dp-popup td.disabled	{
	cursor: default;
	}











.dp-nav-next-year ,
.dp-nav-prev-year {
	display: none;
}