* {
    font-family: Arial, Verdana, sans-serif;
    text-shadow: none !important;
}

a:hover {
    text-decoration: none;
}

body {
    padding-top: 110px;
    padding-bottom: 70px;
}

h2 {
    padding: 20px 20px;

}

h1.branding, h2.branding, h3.branding, h4.branding, h5.branding {
    background-repeat: no-repeat;
    background-position: right 25px center;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.btn {

    font-weight: normal;
    font-size: 11pt;
    text-transform: uppercase;
    border-width: 0px;
    background-image: none !important;
    text-shadow: none !important;
}

.btn-disabled {
    cursor: default !important;
}

.btn-default.btn-disabled:hover {
    background-color: #e6e6e6 !important;
}

.btn-success.btn-disabled:hover {
    background-color: #5cb85c !important;
}

.btn-info.btn-disabled:hover {
    background-color: #5bc0de !important;
}

.btn-warning.btn-disabled:hover {
    background-color: #eb9316 !important;
}

.btn-danger.btn-disabled:hover {
    background-color: #d9534f !important;
}

.btn-lg,
form .btn {
    padding: 18px 25px;
}

.panel .btn {
    width: 100%;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.panel a.btn:first-child {
    margin-top: 0px;
}

.navbar-brand {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.navbar-form .btn {
    padding: 7px 15px;
    padding-bottom: 6px;
    border-radius: 5px;
}

.navbar-form input[type="text"], .navbar-form input[type="password"] {
    float: left;
    margin-left: 10px;
}

#login_email {
    max-width: 180px;
    width: 180px;
}

#login_password {
    max-width: 100px;
    width: 180px;
}

.navbar-form input[type="submit"] {
    margin-left: 10px;
}



.navbar-form button {
    margin-left: 10px;
    text-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
}

span.not-breaking {
    display: inline-block;
}

.dropdown-menu > li > a:hover {
    background-image: none;
}

.dropdown-submenu > .dropdown-menu {
    top: 100% !important;
    left: 0px !important;
    margin-top: 0 !important;
    margin-left: -1px !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.dropdown-submenu > .dropdown-menu > .dropdown-menu {
    left: 100% !important;
}

.dropdown-submenu > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
    left: 100% !important;
    top: -6px !important;
}

.dropdown-submenu > a:after {
    content: none !important;

}

.img-show-left {
    float: left;
    margin-right: 1em;
}

hr.small {
    margin: 10px 0;
}

ul.nav {

}

ul.nav a {
    height: 60px;
    font-size: 13pt;
    padding-top: 21px;
}

ul.nav-pills {
    padding-top: 5px;
}

.navbar {
    border-radius: 0px;
}

.navbar-menu {
    border-bottom: 1px solid #E0E0E0;
}

.navbar .navbar-brand {
    margin-right: 30px;
}

.category-menu a,
.navbar .brand,
.brand, .navbar .brand,
.navbar .nav > li > a,
.navbar-link {
    text-shadow: none !important;
}

.nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar .nav .active > a, .navbar .nav .active > a:focus {
    /*background-color: transparent;*/
    font-weight: bold;
}

.navbar .nav .inactive > a:hover, .navbar-link:hover {
    background-color: transparent;
}

.navbar li a.btn {
    color: white !important;
    padding-top: 7px;
    height: 34px;
    margin-top: 12px;
}

.navbar-form {
    margin-top: 12px;
}


.hero-unit,
.jumbotron {
    border-radius: 0px;
    font-weight: normal;
    font-size: 20pt;
    padding: 30px 70px;
    margin-bottom: 20px;
}

.hero-unit h1,
.jumbotron h1 {
    font-family: "Arial Narrow", Arial, Helvetica, Verdana, sans-serif !important;
    font-weight: 100;
    font-size: 60pt;
    margin-bottom: 30px;
}

.hero-unit img.page-title,
.jumbotron img.page-title {
    float: left;
    margin-right: 50px;
}



.category-menu li.dark a {
    color: #FFFFFF;
}

.category-menu li.light a {
    color: #000000;
}

.media.first-element {
    padding: 10px;
    margin-bottom: 10px;
}

.media .info {
    text-transform: uppercase;
    font-size: 11pt;
    margin-bottom: 12px;
}

.media .small.info,
.small.info {
    font-size: 11pt;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.content.details .small.info {
    margin-bottom: 10px;
}

.media.first-element h1, .media.first-element h2, .media.first-element h3, .media.first-element h4, .media.first-element h5 {
    padding: 0px;
    margin-top: 5px;
}

.media.first-element h2,
.media.first-element h3,
.media.first-element h4,
.media.first-element h5 {
    font-size: 15pt;
}

.media.first-element img,
.media.not-first-element img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.media .content {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 11pt;
}

.media.not-first-element {
    min-height: 120px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-top: 1px solid #F0F0F0;
}

.media.not-first-element.mini {
    min-height: 80px;
    max-height: 80px;
}

.media.not-first-element:nth-child(1) {
    margin-top: 0px;
}

.media.not-first-element:last-child {
    border-bottom: 0;
    margin-bottom: 0px;
}

.media.first-element:hover {
    background-color: #E0E0E0;
}

.media.not-first-element:hover {
    background-color: #F0F0F0;
}

.sub-content {
    margin-top: 0px;
}

.not-first-element h2,
.not-first-element h3,
.not-first-element h4,
.not-first-element h5 {
    background-color: transparent;
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 0px;
}

.media.first-element span.glyphicon {
    margin-right: 5px;
}

.media.not-first-element .info {
    text-transform: uppercase;
    font-size: 11pt;
    margin-bottom: 2px;
}

.media.not-first-element img {
    margin-bottom: 0px;
}

.media.not-first-element span.glyphicon {
    margin-right: 5px;
}

.media-list.element.deals .first-element {
    padding: 0px;
}

.media-list.element.deals .first-element table {
    border-collapse: collapse;
}

.media-list.element.deals .first-element table td {
    padding: 0px;
    padding-right: 10px;
    vertical-align: top;
}

.media-list.element.deals .first-element .inset {
    padding: 10px;
    padding-bottom: 0px;
}

.media-list.element.deals .first-element img {
    margin: 0px;
    margin-right: 10px;
}

.media-list.element.deals .first-element img.mini {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.media-list.element.deals .first-element td.info {
    padding-top: 10px;
    height: 50px;
    vertical-align: top;
    width: 100%;
}

.media-list.element.deals .first-element table td.content {
    vertical-align: top;
    padding-bottom: 0px;
}

.media-list.element.deals .first-element table td.price {
    vertical-align: bottom;
    padding-bottom: 5px;
}

.media-list.element.deals .first-element table td.content h1,
.media-list.element.deals .first-element table td.content h2,
.media-list.element.deals .first-element table td.content h3,
.media-list.element.deals .first-element table td.content h4 {
    margin-top: 0px;
}

.media-list.element.deals .first-element .price {
    font-size: 20pt;
    line-height: 20pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.media-list.element.deals .first-element td.price {
    text-align: right;
}

.media-list.element.deals .first-element span.oldPrice {
    margin-right: 10px;
    font-size: 14pt;
    color: black;
    text-decoration: line-through;
}

.media-list.element.deals.startPage .first-element td {
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.media-list.element.deals.startPage .first-element td.teaserImage {
    padding: 0px;
}

.media-list.element.deals.startPage .first-element td.teaserImage img {
    width: 100%;
    margin: 0px;
}

.media-list.element.deals.startPage .first-element td.teaserImage img.mini {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/*.media-list.element.deals .info {*/
    /*text-transform: none;*/
/*}*/

.media-list.element.deals .first-element h2,
.media-list.element.deals .first-element h3,
.media-list.element.deals .first-element h4,
.media-list.element.deals .first-element h5 {
    font-size: 24pt;
    margin: 20px 0px;
}

.media-list.element.deals img.soldout {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
}

.col-lg-1 h2:nth-child(1),
.col-lg-2 h2:nth-child(1),
.col-lg-3 h2:nth-child(1),
.col-lg-4 h2:nth-child(1),
.col-lg-5 h2:nth-child(1),
.col-lg-6 h2:nth-child(1),
.col-lg-7 h2:nth-child(1),
.col-lg-8 h2:nth-child(1),
.col-lg-9 h2:nth-child(1) {
    margin-top:0px;
}

.panel,
.panel-heading {
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 20px;
}

.panel-heading h2 {
    background-color: transparent;
    padding: 10px 10px;
    font-size: 32px;
}

a.list-group-item img {
    margin-right: 10px;
}

a.list-group-item.active, .list-group-item.active:hover {
    border-color: #dddddd;
    background-image: none !important;
}

.media .media-news {
    margin-top: 20px;
    margin-bottom: 50px;
}

.media .media-news:nth-child(1) {
    margin-top: 0px;
}


.media .media-body .controls {
    margin-top: 20px;
    margin-bottom: 10px;
}

.content.details {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content.details img {

}

.news-content {
    margin-left: 75px;
}

.thumbnail.pull-left, img.pull-left {
    margin-right: 10px;
}

.thumbnail h5 {
    width: 100%;
    text-align: center;
}

.thumbnail a {
    font-size: 14pt;
    display: block;
    width: 100%;
    text-align: center;
}

.tint .thumbnail {
    border-width: 1px;
}

.well img {
    margin-right: 15px;
    margin-top: 6px;
    border: 1px solid #A0A0A0;
    background-color: white;
    border-radius: 4px;
}

.category-menu {
    margin-left: 20px;
}

.category-menu a {
    margin-right: 15px;
    font-size: 14pt;
}

span.colorwell {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 5px;
    border-width: 0px;
}

.list-group-item-text {
    clear: both;
    margin-top: 20px;
}

.navbar .login {
    padding-right: 10px;
    margin-right: 10px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

.navbar .login dt {
    display: none !important;
}

.navbar .login dd {
    display: inline !important;
}

.nav.register {
    margin-right: 10px;
}

.form-control {
    max-width: 300px;
}

.form-control.wide {
    max-width: 600px;
}

.form-control.max {
    width: 100%;
    max-width: inherit;
}

.form-control.big {
    height: 40px;
    font-size: 16pt;
}

form dd {
    margin-bottom: 15px;
}

input[type="checkbox"].form-control.checkbox {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
}



input[type="checkbox"] {
    box-shadow: none;
}

label {
    max-width: 250px;
}

#fieldset-save_deal label {
    max-width: 90%;
}

div.input-prepend span.add-on {
    float: left;
    margin-left: 25px;
    margin-top: 8px;
}

.navbar a.social_icon {
	padding: 10px 0 0 10px;
}
.navbar a.avatar {
    padding: 0;
    padding-top: 10px;
}



.navbar img.avatar {
    padding: 0px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
}

footer {
    margin-top: 0px;
}
footer a {
    margin-left: 20px;
}

.navbar-footer {
    border-top: 1px solid #E0E0E0;
    padding-top: 15px;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .navbar-fixed-bottom {
        position: relative;
        margin-top: 20px;
    }

    .navbar-fixed-top {
        position: relative;
        top: inherit;
        margin-bottom: 20px;
        width: 100%;
    }
}

.media.deal img {
   width: 200px;
    height: auto;
}

.media.deal .actions {
    margin-top: 20px;
    height: 50px;
}

img.deal {
    max-height: 300px;
}

.deal .actions {
    margin-top: 40px;
}

.deal .actions a.btn {
    margin-bottom: 20px;
}

a span.glyphicon {
    font-size: 10px;
    margin-right: 4px;

}

.btn span.glyphicon {
    font-size: 12px;
    margin-right: 8px;
}

.btn-lg span.glyphicon {
    font-size: 15px;
    margin-right: 10px;
}

div.barcode {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.translate {
    border-width: 2px;
    border-style: dotted;
    border-color: #A0A0A0;
    text-decoration: blink;
}

.translate:hover {
    border-style: solid;
}


h1.translate,
h2.translate,
h3.translate,
h4.translate,
h5.translate {
    border-color: #AAAADD;
}


span.translate {
    border-color: #FFAADD;
}

.map {
    width: 100%;
    height: 600px;
    border-radius: 5px;
}

.map h1 {
    font-size: 12pt;
}

.panel-heading a.btn {
    margin-top: 3px;
}



@media screen and (max-width: 992px) {
.hide-on-mobile {
    display: none;
  }
}

.sharing-addition {
    float: left;
    margin-right: 20px;
}

#socialshareprivacy {
    height: 200px;
}

.nav_social_icon {
	width:40px;
}

.btn-news-prev {
	margin-right:20px;
}

.news_pagination_info {
	margin:0 0 20px 0;
	text-align: right;
}

div.modal-footer form {
    text-align: left;
}

div.sold-out {
    background-color: #ffffff;
    opacity: 0.5;
    background-image: url(/images/stamps/sold-out.png);
}

.bg-info {
    background-color: #d9edf7;
    padding: 15px;
}

.bg-info p:first-child {
    margin: 0px;
    padding: 0px;
}

/** see http://socicon.com/ */

@font-face {
    font-family: 'socicon';
    src: url('/fonts/socicon-webfont.eot');
    src: url('/fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/socicon-webfont.woff') format('woff'),
    url('/fonts/socicon-webfont.ttf') format('truetype'),
    url('/fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.socicon {
    font-family: 'socicon' !important;
}

span.socicon.left {
    margin-right: 5px;
}

span.socicon.big {
    font-size: 15pt;
}

span.socicon.extra-big {
    font-size: 25pt;
}

span.socicon.menu {
    font-size: 18pt;
    line-height: 40px;
    margin-right: 10px;
}

div.price {
    float: right;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20pt;
}

div.price span.oldPrice {
    margin-right: 5px;
    text-decoration: line-through;
    font-size: 16pt;
    color: #333333;
}

.media-list div.price {
    font-size: 16pt;
}

.media-list div.price span.oldPrice {
    font-size: 14pt;
}

.btn.list-more {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.code {
    font-family: Courier New, monospaced;
}

div.code {
    font-size: 18pt;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.btn.submit-idea {
    float: left;
    margin-right: 20px;
}

.btn.view-source,
.btn.submit-idea {
    margin-top: 20px;
}

input#save_termsOfUse {
    margin-top: 0px;
}