<?php if (isset($this->errorCode)) { ?>
    <error>
        <code><?= $this->errorCode ?></code>
        <message><?= $this->errorMessage ?></message>
    </error>
<?php } else { ?>

    <?php
    if (_user() && isset($this->deals) && is_array($this->deals)) {
        $user = _user();
        ?>
        <deals>
            <?php foreach ($this->deals as $deal) { ?>
                <?php if ($deal instanceof Epr_Dispatcher_Deal) { ?>
                    <deal id="<?= $deal->getReferenceDealId() ?>">
                        <?php if ($user->hasDealCode($deal, Epr_Deal::TYPE_ONSITE)) { ?>
                            <onsite><?= $user->getDealCode($deal, Epr_Deal::TYPE_ONSITE) ?></onsite>
                        <?php } ?>
                        <?php if ($user->hasDealCode($deal, Epr_Deal::TYPE_ONLINE)) { ?>
                            <online><?= $user->getDealCode($deal, Epr_Deal::TYPE_ONLINE) ?></online>
                        <?php } ?>
                    </deal>
                <?php } ?>
            <?php } ?>
        </deals>
    <?php }
} ?>