<div class="nav">
<div class="nav">
    <div class="table">

        <ul class="<?php echo $this->controller == 'index'?'current':'select'?>">
            <li><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'index', 'action'=>'index'),null, true)?>"><b><?php echo $this->translate('Dashboard');?></b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub <?php echo $this->controller == 'index'?'show':''?>">
                <ul class="sub">
                    <li class="<?php echo $this->controller == 'index' && $this->action == 'index'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'index', 'action'=>'index'),null, true)?>"><?php echo $this->translate('Overview');?></a></li>
                    <li><a href="/">Open Website</a></li>
                    <li><a href="<?= $this->url(array('module'=>'admin', 'controller'=>'auth', 'action'=>'logout')) ?>">Logout</a></li>
                </ul>
            </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>

        <ul class="<?php echo $this->controller == 'user'?'current':'select'?>">
            <li><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'user', 'action'=>'index'),null, true)?>"><b><?php echo $this->translate('User');?></b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub <?php echo $this->controller == 'user'?'show':''?>">
                <ul class="sub">
                    <li class="<?php echo $this->controller == 'user' && $this->action == 'list'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'user', 'action'=>'list'),null, true)?>"><?php echo $this->translate('List User');?></a></li>
                    <li class="<?php echo $this->controller == 'user' && $this->action == 'update'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'user', 'action'=>'update'),null, true)?>"><?php echo $this->translate('Add User');?></a></li>
					<li class="<?php echo $this->controller == 'user' && $this->action == 'tokens'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'user', 'action'=>'tokens'),null, true)?>"><?php echo $this->translate('Tokens');?></a></li>
					<!--<li class="<?php echo $this->controller == 'user' && $this->action == 'write-message'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'user', 'action'=>'write-message'),null, true)?>"><?php echo $this->translate('Write Message');?></a></li>-->
					<li class="<?php echo $this->controller == 'user' && $this->action == 'message-queue'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'user', 'action'=>'message-queue'),null, true)?>"><?php echo $this->translate('Message Queue');?></a></li>
                </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>

        <ul class="<?php echo $this->controller == 'news'?'current':'select'?>"><li><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'news', 'action'=>'index'))?>"><b><?php echo $this->translate('News');?></b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub <?php echo $this->controller == 'news'?'show':''?>">
                <ul class="sub">
                    <li class="<?php echo $this->controller == 'news' && $this->action == 'list'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'news', 'action'=>'list'),null, true)?>"><?php echo $this->translate('List News');?></a></li>
                    <li class="<?php echo $this->controller == 'news' && $this->action == 'update'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'news', 'action'=>'update'),null, true)?>"><?php echo $this->translate('Add News');?></a></li>
                    <li class="<?php echo $this->controller == 'news' && $this->action == 'list-categories'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'news', 'action'=>'list-categories'),null, true)?>"><?php echo $this->translate('List News Categories');?></a></li>
                    <li class="<?php echo $this->controller == 'news' && $this->action == 'update-category'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'news', 'action'=>'update-category'),null, true)?>"><?php echo $this->translate('Add News Category');?></a></li>
					<li class="<?php echo $this->controller == 'news' && $this->action == 'list-feeds'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'news', 'action'=>'list-feeds'),null, true)?>"><?php echo $this->translate('List Feeds');?></a></li>
					<li class="<?php echo $this->controller == 'news' && $this->action == 'update-feed'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'news', 'action'=>'update-feed'),null, true)?>"><?php echo $this->translate('Add Feed');?></a></li>
                </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>

        <ul class="<?php echo $this->controller == 'deals'?'current':'select'?>"><li><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'deals', 'action'=>'index'))?>"><b><?php echo $this->translate('Deals');?></b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub <?php echo $this->controller == 'deals'?'show':''?>">
                <ul class="sub">
                    <li class="<?php echo $this->controller == 'deals' && $this->action == 'list'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'deals', 'action'=>'list'),null, true)?>"><?php echo $this->translate('List Deals');?></a></li>
                    <li class="<?php echo $this->controller == 'deals' && $this->action == 'update'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'deals', 'action'=>'update'),null, true)?>"><?php echo $this->translate('Add Deals');?></a></li>
                    <li class="<?php echo $this->controller == 'deals' && $this->action == 'code-generator'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'deals', 'action'=>'code-generator'),null, true)?>"><?php echo $this->translate('Generate Codes');?></a></li>
                </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>
        <ul class="<?php echo $this->controller == 'dealers'?'current':'select'?>"><li><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'dealers', 'action'=>'index'))?>"><b><?php echo $this->translate('Dealers');?></b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub <?php echo $this->controller == 'dealers'?'show':''?>">
                    <ul class="sub">
                        <li class="<?php echo $this->controller == 'dealers' && $this->action == 'list'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'dealers', 'action'=>'list'),null, true)?>"><?php echo $this->translate('List Dealers');?></a></li>
                        <li class="<?php echo $this->controller == 'dealers' && $this->action == 'update'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'dealers', 'action'=>'update'),null, true)?>"><?php echo $this->translate('Add Dealer');?></a></li>
						<?php if (_user()->isRoot()) { ?>
							<li class="<?php echo $this->controller == 'dealers' && $this->action == 'import'?'import':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'dealers', 'action'=>'import'),null, true)?>"><?php echo $this->translate('Import CSV');?></a></li>
							<li class="<?php echo $this->controller == 'dealers' && $this->action == 'delete-all-without-location'?'delete-all-without-location':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'dealers', 'action'=>'delete-all-without-location'),null, true)?>"><?php echo $this->translate('Remove Dealers without Location');?></a></li>
						<?php } ?>
                    </ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>

        <ul class="<?php echo $this->controller == 'ideas'?'current':'select'?>">
        	<li>
        		<a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'ideas', 'action'=>'index'),null, true)?>"><b><?php echo $this->translate('Ideas');?></b><!--[if IE 7]><!--></a><!--<![endif]-->
            	<!--[if lte IE 6]><table><tr><td><![endif]-->
            	<div class="select_sub <?php echo $this->controller == 'ideas'?'show':''?>">
                	<ul class="sub">
                    	<li class="<?php echo $this->controller == 'ideas' && $this->action == 'list-competitions'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'ideas', 'action'=>'list-competitions'),null, true)?>"><?php echo $this->translate('List Competitions');?></a></li>
                    	<li class="<?php echo $this->controller == 'ideas' && $this->action == 'update-competition'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'ideas', 'action'=>'update-competition'),null, true)?>"><?php echo $this->translate('Add Competition');?></a></li>
                    	<li class="<?php echo $this->controller == 'ideas' && $this->action == 'list-competition-categories'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'ideas', 'action'=>'list-competition-categories'),null, true)?>"><?php echo $this->translate('List Competition Categories');?></a></li>
                    	<li class="<?php echo $this->controller == 'ideas' && $this->action == 'update-competition-category'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'ideas', 'action'=>'update-competition-category'),null, true)?>"><?php echo $this->translate('Add Competition Category');?></a></li>
                	</ul>
            	</div>
            	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
        	</li>
        </ul>

        <ul class="<?php echo $this->controller == 'events'?'current':'select'?>">
            <li>
                <a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'events', 'action'=>'index'),null, true)?>"><b><?php echo $this->translate('Events');?></b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub <?php echo $this->controller == 'events'?'show':''?>">
                    <ul class="sub">
                        <li class="<?php echo $this->controller == 'events' && $this->action == 'list'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'events', 'action'=>'list'),null, true)?>"><?php echo $this->translate('List');?></a></li>
                        <li class="<?php echo $this->controller == 'events' && $this->action == 'add'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'events', 'action'=>'add'),null, true)?>"><?php echo $this->translate('Add Event');?></a></li>
                    </ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>
		<ul class="<?php echo ($this->controller == 'cms' || $this->controller == 'assets') ? 'current' : 'select'?>">
			<li>
				<a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'assets', 'action'=>'list'),null, true)?>"><b><?php echo $this->translate('CMS');?></b><!--[if IE 7]><!--></a><!--<![endif]-->
				<!--[if lte IE 6]><table><tr><td><![endif]-->
				<div class="select_sub <?php echo ($this->controller == 'cms' || $this->controller == 'assets') ? 'show' : ''?>">
					<ul class="sub">
                        <li class="<?php echo $this->controller == 'assets' ? 'sub_show' : ''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'assets', 'action'=>'list'),null, true)?>"><?php echo $this->translate('Assets');?></a></li>
						<li class="<?php echo $this->controller == 'cms' && $this->action == 'list-pages'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'cms', 'action'=>'list-pages'),null, true)?>"><?php echo $this->translate('Pages');?></a></li>
						<li class="<?php echo $this->controller == 'cms' && $this->action == 'list-themes'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'cms', 'action'=>'list-themes'),null, true)?>"><?php echo $this->translate('Themes');?></a></li>
						<li class="<?php echo $this->controller == 'cms' && $this->action == 'list-translations'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'cms', 'action'=>'list-translations'),null, true)?>"><?php echo $this->translate('Translations');?></a></li>
					</ul>
				</div>
			</li>
		</ul>
		<div class="nav-divider">&nbsp;</div>

        <?php if (_user()->isAdministrator()) { ?>
        <ul class="<?php echo $this->controller == 'settings'?'current':'select'?>">
            <li>
                <a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'settings','action'=>'index'))?>"><b><?php echo $this->translate('Settings');?></b></a>
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub <?php echo $this->controller == 'settings'?'show':''?>">
                	<ul class="sub">
                		<li class="<?php echo $this->controller == 'settings' && $this->action == 'general'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'settings', 'action'=>'general'),null, true)?>"><?php echo $this->translate('General');?></a></li>
                		<li class="<?php echo $this->controller == 'settings' && $this->action == 'modules'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'settings', 'action'=>'modules'),null, true)?>"><?php echo $this->translate('Modules');?></a></li>
						<li class="<?php echo $this->controller == 'settings' && $this->action == 'run-cron'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'settings', 'action'=>'run-cron'),null, true)?>"><?php echo $this->translate('Run Cron');?></a></li>
						<li class="<?php echo $this->controller == 'settings' && $this->action == 'database-cleanup'?'sub_show':''?>"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'settings', 'action'=>'database-cleanup'),null, true)?>"><?php echo $this->translate('Database Cleanup');?></a></li>
                        <li><a href="/admin/?forceUpdate=true">Force Application Update</a></li>
                    </ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
	<?php } ?>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>