<?php
$page = Epr_Cms_Page::getPageWithPath(Epr_Modules_Info::PAGE_ERROR_404_PATH);
$content = $page->getElementWithPath(Epr_Modules_Info::ERROR_404_CONTENT);
?>

<?php if ($content->hasContentToDisplay()) { ?>
<div class="hero-unit jumbotron">
	<?= $content->renderedContent(1) ?>
	<?php } ?>
</div>

<a href="/" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-arrow-left"></span><?= _t('Back to the start page') ?></a>
