<?= $this->paginateLinksHelper($this->competitions) ?>
<?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_TOP, $this->competitions) ?>
<form id="mainform">
    <?= $this->searchBoxHelper(array(
        'active' => 'active:true',
        'not active' => 'active:false'
    )) ?>
  <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" class="data-table-v2">
    <tr>
      <th class="table-header-repeat line-left table-header-titleImage"><?php echo  $this->translate('Title Image') ?></th>
      <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('title', $this->translate('Titel')) ?></th>
      <th class="table-header-repeat line-left width-200 center"><?= $this->sortLinksHelper('company', $this->translate('Company')) ?></th>
      <th class="table-header-repeat line-left width-200 center"><?= $this->sortLinksHelper('category', $this->translate('Category')) ?></th>
      <th class="table-header-repeat line-left width-175 center"><?= $this->sortLinksHelper('startDate', $this->translate('Availability')) ?></th>
      <th class="table-header-options line-left width-200 center"><span>Options</span></th>
    </tr>

      <?php $cycle=$this->cycle(array("row","alternate-row"));?>

      <?php if (count($this->competitions)>0) : ?>

      <?php foreach ($this->competitions as $idea) :
          /* @var Epr_Idea_Competition $idea */
              $editURL = $this->editUrl . '/id/' . $idea->getId();
          ?>

      <tr class="<?php echo $cycle->next()?> <?php echo !$idea->isActive()?'row_inactive':''?>" onclick="document.location='<?= $editURL ?>'">
          <td class="table-cell-titleImage">
              <?php
              $isActive = $idea->isActive();
              $activateText = $this->translate(($isActive) ? 'Deactivate item' : 'Activate item');
              $titleImage = $idea->getTitleImage();
              if ($titleImage) {
                  ?>
                  <img src="<?= $titleImage->getPublicIDBasedURL(72,54) ?>" class="titleImage" />
              <?php
              }
              ?>
          </td>
        <td><?php echo  $idea->getTitle() ?></td>
        <td class="center"><?php echo  $idea->getCompany() ?></td>
        <td class="center"><?php echo  $idea->getCategory()->getTitle() ?></td>
        <td class="center"><?php echo  $idea->getStartDate()->format('Y/m/d') ?> -- <?php echo  $idea->getEndDate()->format('Y/m/d') ?></td>
        <td class="center">
          <a href="<?php echo  $this->listUrl ?>/id/<?php echo  $idea->getId() ?>" title="List" class="icon-6 info-tooltip"></a>
          <a href="<?= $editURL  ?>" title="Edit" class="icon-1 info-tooltip"></a>
          <a href="<?php echo  $this->previewUrl ?>/id/<?php echo  $idea->getId() ?>" title="Preview" class="icon-3 info-tooltip"></a>
          <a href="<?php echo  $this->deleteUrl ?>/id/<?php echo  $idea->getId() ?>" title="Delete" class="icon-2 info-tooltip" onclick="return confirm('<?php echo $this->translate('Delete Competition?')?>');"></a>
          <a href="<?php echo  $this->deactivateUrl ?>/id/<?php echo  $idea->getId() ?>" class="icon-5 info-tooltip" title="<?= $activateText ?>" class="icon-5 info-tooltip"  onclick="return confirm('<?= $activateText ?>');"></a>
        </td>
      </tr>
          <?php endforeach; ?>


      <?php endif; ?>
  </table>
    <?= $this->paginateLinksHelper($this->competitions) ?>
    <?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_BOTTOM, $this->competitions) ?>

</form>
<div class="clear"></div>