<!--  start product-table ..................................................................................... -->
<form id="mainform" action="asdf">
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
        <tr>
            <th class="table-header-repeat line-left minwidth-1"><span><?php echo $this->translate('User') ?></span></th>
            <th class="table-header-repeat line-left minwidth-1"><span><?php echo $this->translate('Email') ?></span></th>
            <th class="table-header-repeat line-left minwidth-1"><span><?php echo $this->translate('Registration Info') ?></span></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('submissionDate', $this->translate('Submission Date')) ?></th>
            <th class="table-header-repeat line-left minwidth-1"><span><?php echo $this->translate('Excerpt') ?></span></th>
            <th class="table-header-options line-left"><span>Options</span></th>
        </tr>

        <?php $cycle = $this->cycle(
            array(
                "",
                "alternate-row"
            )
        ); ?>

        <?php if (count($this->ideas) > 0) : ?>

            <?php foreach ($this->ideas as $idea) :
                /* @var Epr_Idea $idea */

                $user = $idea->getUser();

                ?>
                <tr class="<?php echo $cycle->next() ?> <?= (!$idea->isActive() ? 'row_inactive' : '') ?>">
                    <td><?= ($user) ? $user->getLastname() . ', ' . $user->getFirstname() : 'user deleted' ?></td>
                    <td><?= ($user) ? $user->getEmail() : 'user deleted' ?> </td>
                    <td><?= ($user) ? $user->getRegistrationInformation() : 'user deleted' ?></td>
                    <td><?php echo $idea->getSubmissioDate()->format('Y/m/d'); ?></td>
                    <td><?php if ($idea->getText()) {
                            echo __($idea->getText())->shortenAfterSentence(100);
                        }?></td>

                    <td class="options-width">
                        <a href="<?= $this->detailUrl ?>/id/<?php echo $idea->getId() ?>" title="Show Details"
                           class="icon-3 info-tooltip"></a>
                        <a href="<?= $this->deactivateUrl ?>/id/<?php echo $idea->getId() ?>"
                           class="icon-5 info-tooltip"
                           title="<?= $this->translate($idea->isActive() ? 'Deactivate Item' : 'Activate Item') ?>"
                           class="icon-5 info-tooltip"></a>
                    </td>
                </tr>
            <?php endforeach; ?>

        <?php else : ?>

            <tr class="<? $cycle->next() ?>">
                <td colspan="5"><?php echo $this->translate('No Items') ?></td>
            </tr>

        <?php endif; ?>
    </table>
    <!--  end product-table................................... -->
</form>
</div>
<!--  end content-table  -->

<div class="clear"></div>