<?= $this->paginateLinksHelper($this->categories) ?>
<?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_TOP, $this->categories) ?>
<form id="mainform" action="asdf">
  <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
    <tr>
      <th class="table-header-repeat line-left table-header-titleImage"><span><?php echo $this->translate('Image')?></span></th>
      <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('title', $this->translate('Name')) ?></th>
      <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('slug', $this->translate('URL Slug')) ?></th>
      <th class="table-header-options line-left"><span>Options</span>></th>
    </tr>

      <?php $cycle=$this->cycle(array("","alternate-row"));?>

      <?php if (count($this->categories)>0) : ?>

      <?php foreach ($this->categories as $category) :
          /* @var Epr_Idea_Category $category */
          ?>

      <tr class="<?php echo $cycle->next()?> <?php echo !$category->isActive()?'row_inactive':''?>">
        <td class="table-cell-titleImage">
            <?php
                if ($category->getTitleImage()) {
                    ?>
                         <img src="<?= $category->getTitleImage()->getPublicIDBasedURL(72,54) ?>" />
                    <?php
                }
            ?>
        </td>
        <td><?php echo  $category->getTitle() ?></td>
        <td><?php echo  $category->getSlug() ?></td>
        <td class="options-width">
          <a href="<?php echo $this->editUrl?>/id/<?php echo $category->getId()?>" title="Edit" class="icon-1 info-tooltip"></a>
          <a href="<?php echo $this->previewUrl?>/id/<?php echo $category->getId()?>" title="Preview" class="icon-3 info-tooltip"></a>
          <a href="<?php echo $this->deleteUrl?>/id/<?php echo $category->getId()?>" title="Delete" class="icon-2 info-tooltip" onclick="return confirm('<?php echo $this->translate('Delete Category?')?>');"></a>
          <a href="<?php echo $this->deactivateUrl?>/id/<?php echo $category->getId()?>"  title="<?php echo $this->translate($category->isActive()?'Deactivate Item':'Activate Item')?>" class="icon-5 info-tooltip"  onclick="return confirm('<?php echo $this->translate($category->isActive()?'Deactivate Item?':'Activate Item?')?>');"></a>
        </td>
      </tr>
          <?php endforeach; ?>

      <?php else : ?>

    <tr class="<?$cycle->next()?>">
      <td colspan="5"><?php echo $this->translate('No Items')?></td>
    </tr>

      <?php endif; ?>
  </table>
    <?= $this->paginateLinksHelper($this->categories) ?>
    <?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_BOTTOM, $this->categories) ?>
</form>

<div class="clear"></div>