<?php
$idea = $this->idea;
if ($idea instanceof Epr_Idea) {
	/** @var Epr_Idea $idea */

	$user = $idea->getUser();
	?>
	<table border="0" width="100%" cellpadding="0" cellspacing="0">
		<tr valign="top">
			<td>

				<?php echo $this->placeholder('steps'); ?>

				<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
					<tr>
						<td width="20%"><?php echo $this->translate('User'); ?></td>
						<td>
							<?php if ($user->getFirstname()) {
								echo $idea->getUser()->getFirstName();
							} ?> <?php if ($user->getLastname()) {
								echo $idea->getUser()->getLastname();
							} ?>
							<br/>
						</td>
					</tr>
					<tr>
						<td><?= _t('State') ?></td>
						<td>
							<?= $idea->isActive() ? _t('active') : _t('not active') ?>
						</td>
					</tr>
					<tr>
						<td width="20%"><?php echo $this->translate('Submitted'); ?></td>
						<td>
							<?php echo $idea->getSubmissioDate()->format('Y/m/d') ?>
						</td>
					</tr>
					<tr>
						<td width="20%"><?php echo $this->translate('Idea'); ?></td>
						<td>
							<p><?php echo $idea->getText() ?></p>
						</td>
					</tr>
					<tr>
						<td width="20%"><?php echo $this->translate('URL'); ?></td>
						<td>
							<a href="<?php echo $idea->getUrl() ?>" target="_blank"><?php echo $idea->getUrl() ?></a>
						</td>
					</tr>
					<tr>
						<td width="20%"><?php echo $this->translate('Attachments'); ?></td>
						<td>
							<?php
							$images = $idea->getImages();
							if (count($images) > 0) {
								foreach ($images as $image) {
									if ($image instanceof Epr_Content_Image) {

										$width = min($image->getWidth(), 500);
										$height = $image->getHeightByWidth($width);

										?>
										<a href="<?php echo $image->getPublicIDBasedURL() ?>"><img
												class="imageBrowserItem"
												src="<?= $image->getPublicIDBasedURL($width, $height); ?>"
												style="<?= $image->getCSSDimensionString() ?>"
												/></a>
									<?php
									}
								}
							} else {
								?>
								no images
							<?php
							}
							?>
						</td>
					</tr>
				</table>
			</td>
			<td>

				<?php echo $this->placeholder('related-activities'); ?>

			</td>
		</tr>
		<tr>
			<td><img src="/images/shared/blank.gif" width="695" height="1" alt="blank"/></td>
			<td></td>
		</tr>
	</table>

	<form method="GET" action="<?= $this->toogleStateURL ?>">
	<input type="submit" value="<?= $idea->isActive() ? _t('deactivate') : _t('activate') ?>" class="form-submit" style="float: right;"/>

	</form>
	</form>

<?php } ?>