<?php
$cycle = $this->cycle(array("", "alternate-row"));
?>

<form id="mainform" action="asdf">

    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
        <tr>
            <th class="table-header-repeat line-left table-header-titleImage"></th>
            <th class="table-header-repeat line-left"><span><?= $this->translate('Name') ?></span></th>
            <th class="table-header-repeat line-left"><span><?= $this->translate('Email') ?></span></th>
            <th class="table-header-repeat line-left"><span><?= $this->translate('Registration Info') ?></span></th>
            <th class="table-header-repeat line-left width-150 center"><span><?= $this->translate('Booking Date') ?></span></th>
            <th class="table-header-options line-left" style="width:150px;"><span>Options</span></th>
        </tr>

        <?php
        if ($this->event instanceof Epr_Event) {
            foreach($this->event->getBookings() as $booking) {
                if ($booking instanceof Epr_Event_Booking && $booking->getUser() instanceof Epr_User) {
                    ?>
                    <tr>
                        <td class="table-cell-icon">
                            <img src="<?= $booking->getUser()->getAvatarUrl(50) ?>"/>
                        </td>
                        <td><?= $booking->getUser()->getFullname() ?></td>
                        <td><?= $booking->getUser()->getEmail() ?></td>
                        <td><?= $booking->getUser()->getRegistrationInformation() ?></td>
                        <td class="center"><?= $booking->getDate()->getFormatedString('Y-m-d h:i') ?></td>
                        <td class="options-width">
                            <a href="mailto:<?= $booking->getUser()->getEmail() ?>" title="Send email"
                               class="icon-9 info-tooltip"></a>
                        </td>
                    </tr>

                <?php }}} ?>
    </table>
</form>
<div class="actions">
    <?php if (isset($this->downloadUrlCsv)) { ?>
        <a href="<?= $this->downloadUrlCsv ?>" class="button"><?= $this->translate('Download (csv)') ?></a>
    <?php } ?>
</div>
