<?php
    $cycle = $this->cycle(array("row", "alternate-row"));
?>

<form id="mainform">
    <?= $this->searchBoxHelper(array(
        'drafts' => 'state:draft',
        'published' => 'state:published'
    )) ?>
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" class="data-table-v2">
        <tr>
            <th class="table-header-repeat line-left table-header-titleImage"><?= $this->translate('Title Image') ?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('title', $this->translate('Title')) ?></th>
            <th class="table-header-repeat line-left table-header-date width-150 center"><?= $this->sortLinksHelper('date', $this->translate('Date')) ?></th>
            <th class="table-header-repeat line-left width-150 center"><span><?= $this->translate('State') ?></span></th>
            <th class="table-header-options line-right width-175"><span>Options</span></th>
        </tr>

    <?php
        if (isset($this->events) && count($this->events) > 0) {
            foreach($this->events as $event) {
                if ($event instanceof Epr_Event) {
                    $editURL = $this->editUrl . '/id/' . $event->getId();
                    ?>
                    <tr class="<?php echo $cycle->next() ?>" onclick="document.location='<?= $editURL ?>'">
                        <td class="table-cell-titleImage">
                            <?php if ($event->getTitleImage()) {?>
                                <img src="<?= $event->getTitleImage()->getPublicIDBasedURL(72, 54) ?>" />
                            <?php } ?>
                        </td>
                        <td><?= $event->getTitle() ?></td>
                        <td class="center"><?= $event->getDate()->getFormatedString('Y-m-d') ?></td>
                        <td class="center"><?= $event->getStatusText(true) ?></td>
                        <td class="options-width">
                            <a href="<?= $editURL ?>" title="Edit"
                               class="icon-1 info-tooltip"></a>
                            <a href="<?php echo $this->bookingsUrl ?>/id/<?= $event->getId() ?>" title="List bookings" class="icon-7 info-tooltip"></a>
                            <a href="<?php echo $this->deleteUrl ?>/id/<?= $event->getId() ?>" title="Delete"
                               class="icon-2 info-tooltip"
                               onclick="return confirm('<?php echo $this->translate('Delete Event?') ?>');"></a>
                        </td>
                    </tr>

    <?php }}} ?>
    </table>
</form>
