<?php if (isset($this->dealId) && isset($this->dealers)) { ?>
<dealers forDeal="<?=$this->dealId?>">

	<?php foreach($this->dealers as $dealer) { ?>
		<dealer id="<?=$dealer->id?>">
			<name><![CDATA[<?=$dealer->name?>]]></name>
			<?php if (isset($dealer->address)) { ?>
			    <address>
					<?php if (isset($dealer->address->street)) { ?>
						<street><![CDATA[<?=$dealer->address->street?>]]></street>
					<?php } ?>
					<?php if (isset($dealer->address->zip)) { ?>
						<zip><?=$dealer->address->zip?></zip>
					<?php } ?>
					<?php if (isset($dealer->address->city)) { ?>
						<city><![CDATA[<?=$dealer->address->city?>]]></city>
					<?php } ?>
					<?php if (isset($dealer->address->country)) { ?>
						<country><![CDATA[<?=$dealer->address->country?>]]></country>
					<?php } ?>
			    </address>
			<?php } ?>
			<?php if (isset($dealer->location)) { ?>
			    <location>
					<lat><?=$dealer->location->lat?></lat>
					<lon><?=$dealer->location->lon?></lon>
			    </location>
			<?php } ?>
			<?php if (isset($dealer->telephone)) { ?>
				<telephone><?=$dealer->telephone?></telephone>
			<?php } ?>
			<?php if (isset($dealer->url)) { ?>
				<url><![CDATA[<?=$dealer->url?>]]></url>
			<?php } ?>
			<?php if (isset($dealer->email)) { ?>
				<email><![CDATA[<?=$dealer->email?>]]></email>
			<?php } ?>
		</dealer>
	<?php } ?>
</dealers>
<?php } ?>