<?php
use Poundation\PArray;

?>
<deals hideAfter="30">

	<?php if (isset($this->deals) && is_array($this->deals) && count($this->deals) > 0) { ?>

		<?php
		foreach ($this->deals as $deal) {

			$dealId = $deal->getId();
			if (is_null($dealId)) {
				$dealId = $deal->getReferenceDealId();
			}

            $passes = $deal->getPass();

			if ($dealId) {
				?>
				<deal id="<?php echo __($dealId)->removeLeadingCharactersWhenMatching('XX') ?>"
					  featured="<?php echo  (($deal->getFeatured()) ? 'yes' : 'no') ?>">
					<provider><?php echo xmlentities($deal->getProvider()) ?></provider>
					<title><?php echo xmlentities($deal->getTitle()) ?></title>
					<teaser><![CDATA[<?php echo  $deal->getTeaser() ?>]]></teaser>
					<startDate><?php echo  $deal->getStartDate()->getFormatedString('Y-m-d') ?></startDate>
					<endDate><?php echo  $deal->getEndDate()->getFormatedString('Y-m-d') ?></endDate>
					<text><![CDATA[<?php echo  $deal->getText() ?>]]></text>
                    <?php if ($deal->getPrice()) { ?>
                        <price><?= xmlentities($deal->getPrice()) ?></price>
                    <?php } ?>
                    <?php if ($deal->getOldPrice()) { ?>
                        <oldPrice><?= xmlentities($deal->getOldPrice()) ?></oldPrice>
                    <?php } ?>
                    <?php if ($deal->getReminderText()) { ?>
                        <reminder><![CDATA[<?= $deal->getReminderText() ?>]]></reminder>
                    <?php } ?>
                    <?php if (isset($passes->online)) { ?>
                        <online>
                            <?php if ($passes->online->description && strlen($passes->online->description) > 0) { ?>
                                <description><![CDATA[<?= $deal->getPass()->online->description ?>]]></description>
                            <?php } ?>
                            <?php if ($passes->online->shopURL && strlen($passes->online->shopURL) > 0) { ?>
                                <URL><![CDATA[<?= $passes->online->shopURL ?>]]></URL>
                            <?php } ?>
                        </online>
                    <?php } ?>
					<?php
					if ($deal->getTitleImageURL() != '') {
						?>
						<titleImage><![CDATA[<?php echo  $deal->getTitleImageURL() ?>]]></titleImage>
					<?php } ?>
					<pass>
						<?php if (isset($passes->onsite)) { ?>
							<onsite available="true"><![CDATA[<?php echo  $passes->onsite ?>]]></onsite>
						<?php } ?>
						<?php if (isset($passes->online)) { ?>
							<online available="<?= (($passes->online->available) ? 'true' : 'false') ?>">
                                <?php if ($passes->online->available && isset($passes->online->redeemURL)) { ?>
                                    <![CDATA[<?= $passes->online->redeemURL ?>]]>
                                <?php } ?>
							</online>
						<?php } ?>
					</pass>
				</deal>
			<?php
			}
		}
	} ?>


</deals>