<?php
$ideasModule = _app()->getModuleWithIdentifier(Epr_Modules_Ideas::identifier());
?>

<ul class="breadcrumb">
	<li><a href="/ideas"><?= $ideasModule->getDisplayname() ?></a></li>
	<li class="active"><?= $this->category->getTitle() ?></li>
</ul>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="page-header">
	<h1><?php echo $this->category->getTitle() ?></h1>
</div>

<div class="row">
	<div class="col-lg-12">
		<?php if (count($this->competitions) > 0) { ?>

			<ul class="media-list">

				<?php
				foreach ($this->competitions as $competition) {
					/** @var $competition Epr_Idea_Competition */

					$detailsURL   = $this->url(array(
													'ideaCategorySlug' => $competition->getCategory()->getSlug(),
													'competitionSlug'  => $competition->getSlug()
											   ), 'ideaCompetitionItem');
					$showIdeasURL = $this->url(array(
													'ideaCategorySlug' => $competition->getCategory()->getSlug(),
													'competitionSlug'  => $competition->getSlug()
											   ), 'ideaCompetitionIdeasList');
					$submitURL    = $this->url(array('id' => $competition->getId()), 'ideaAdd');

					?>


					<li class="media">
						<?php
						$image = $competition->getTitleImage();
						if ($image instanceof Epr_Content_Image) {

							$width = 100;
							$height = $image->getHeightByWidth($width)

							?>
							<a class="pull-left thumbnail" href="<?= $detailsURL ?>">
								<img class="media-object" alt="<?php echo $competition->getTitle() ?>"
									 src="<?php echo $image->getPublicUrl($width, $height); ?>"
									 style="<?= $image->getCSSDimensionString($width, $height) ?>">
							</a>
						<?php } ?>

						<div class="media-body">
							<h4 class="media-heading"><?php echo $competition->getTitle() ?></h4>

							<?php echo $competition->getTeaser() ?>

							<div class="controls">
								<a href="<?= $detailsURL ?>"
								   class="btn btn-primary"><span class="glyphicon glyphicon-info-sign"></span><?= _t('details') ?>
								</a>
								<?php if ($competition->doesAcceptIdeas()) { ?>
								<a href="<?= $submitURL ?>"
								   class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span><?= _t('submit new idea') ?></a>
								<?php } ?>
							</div>
						</div>
					</li>

				<?php } ?>
			</ul>


		<?php } else { ?>
			<div class="alert alert-danger"><?= _t('Currently, there are no competitions in this category.') ?></div>
		<?php } ?>
	</div>
</div>