<?php
$idea = $this->idea;
/** @var $idea Epr_Idea */
?>
<div class="row">
    <div class="span8">
        <h2><?php echo $idea->getTitle()?></h2>
        <?php
        $images = $idea->getImages();
        $image = null;
        if(count($images) > 0) {
            $image = $images->firstObject();
        }

        if(!is_null($image)) :
        ?>
                <img class="img-polaroid img-show-left" alt="<?php echo $idea->getTitle()?>" src="<?php echo $image->getPublicUrl(200,150);?>">
        <?php
        endif;
        ?><?php echo $idea->getText();?>
    </div>
    <div class="span4">
        <div class="well well-small">
            <h4>Idee</h4>
            <hr/>
            <table class="table table-bordered">
                <tr>
                    <td><?php echo $this->translate('Eingereicht von');?></td>
                    <td><?php echo $idea->getUser()->getFirstname()?>, <?php echo $idea->getUser()->getLastname()?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('category');?></td>
                    <td><a href="<?php echo $this->url(array('ideaCategorySlug'=>$idea->getCompetition()->getCategory()->getSlug()), 'ideaCategory')?>"><?php echo $idea->getCompetition()->getCategory()->getTitle()?></a></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('competition');?></td>
                    <td><a href="<?php echo $this->url(array('ideaCategorySlug'=>$idea->getCompetition()->getCategory()->getSlug(), 'competitionSlug'=>$idea->getCompetition()->getSlug()), 'ideaCompetitionItem')?>"><?php echo $idea->getCompetition()->getTitle()?></a></td>
                </tr>
                <tr>
                    <td>Eingereicht am:</td>
                    <td><?php echo $idea->getSubmissioDate()->format('Y/m/d')?></td>
                </tr>
            </table>

        </div>
        <?php if(count($images)>0):?>
        <h4>Bilder</h4>
        <ul class="thumbnails">

            <?php
            foreach ($images as $image) :
                ?>
                <li class="span2">
                    <div class="thumbnail">
                        <img data-src="holder.js/300x200" src="<?php echo $image->getPublicUrl(200,150);?>">
                    </div>
                </li>
            <?php
            endforeach
            ?>
        </ul>
        <?php endif; ?>
    </div>
</div>