<div class="row">
    <div class="span12">
        <h2>Wettbewerbskategorien - Irgendwas</h2>

    </div>
</div>
<div class="row">
    <div class="span6">
        <?php
            if(count($this->ideas) >0 ){
                for($i = 0; $i < count($this->ideas); $i++){
                    if($i%2 == 0){
                        $idea = $this->ideas[$i];
        ?>
                        <h4><?php echo $idea->getTitle()?></h4>
                        <p><?php echo $idea->getText()?></p>
                        <p><a class="btn" href="<?php echo $this->url(array('id'=>$idea->getId()),'ideaDetail')?>">Zur Idee</a></p>
        <?php
                    }
                }
            }
        ?>
    </div>
    <div class="span6">
        <?php
            if(count($this->ideas) >0 ){
                for($i = 0; $i < count($this->ideas); $i++){
                    if($i%2 != 0){
                        $idea = $this->ideas[$i];
        ?>
                        <h4><?php echo $idea->getTitle()?></h4>
                        <p><?php echo $idea->getText()?></p>
                        <p><a class="btn" href="<?php echo $this->url(array('id'=>$idea->getId()),'ideaDetail')?>">Zur Idee</a></p>
        <?php
                    }
                }
            }
        ?>
    </div>
</div>