<?php
$competition = $this->competition;


$ideasModule = _app()->getModuleWithIdentifier(Epr_Modules_Ideas::identifier());

$submitURL = $this->url(array('id' => $competition->getId()), 'ideaAdd');

/** @var $competition Epr_Idea_Competition */

$ideas = \Poundation\PArray::create($competition->getIdeas());
$ideas->sortByPropertyName('submissioDate', SORT_DESC);
$ideas->filterByProperty('active', true);

$staticWidth = ($ideas->count() > 0) ? 4 : 6;

$canSubmit = $competition->doesAcceptIdeas();

?>

<ul class="breadcrumb">
	<li><a href="/ideas"><?= $ideasModule->getDisplayname() ?></a></li>
	<li>
		<a href="/ideas/<?= $competition->getCategory()->getSlug() ?>"><?= $competition->getCategory()->getTitle() ?></a>
	</li>
	<li class="active"><?= $competition->getTitle() ?></li>
</ul>

<div class="page-heading">
	<h1>
		<?= $competition->getTitle() ?>
		<small>
			<?= $competition->getStartDate()->format('Y/m/d') ?> – <?= $competition->getEndDate()->format('Y/m/d') ?>
			, <?= $competition->getCompany() ?>
		</small>
	</h1>

	<?php if ($competition->getTitleImage()) { ?>
		<img class="pull-left thumbnail" src="<?= $competition->getTitleImage()->getPublicIDBasedURL(false, 100) ?>"
			 style="<?= $competition->getTitleImage()->getCSSDimensionString() ?>"/>
	<?php } ?>
	<?= $competition->getTeaser() ?>
	<?php if ($canSubmit) { ?>
		<div style="margin-top: 20px;">
			<a href="<?= $submitURL ?>" class="btn-lg btn-primary"><span class="glyphicon glyphicon-pencil"></span><?= _t('submit new idea') ?></a>
		</div>
	<?php } ?>
</div>
<div class="clearfix"></div>


<div class="row">
	<div class="col-lg-<?= $staticWidth ?>">
		<h2><?= _t('summary') ?></h2>
		<?= $competition->getText() ?>
	</div>
	<div class="col-lg-<?= $staticWidth ?>">
		<h2><?= _t('rules & prices') ?></h2>
		<?= $competition->getRules() ?>
	</div>
	<?php if ($staticWidth < 6) { ?>
		<div class="col-lg-4">
			<h2><?= _t('submissions') ?>
				<?php if ($canSubmit) { ?>
					<div class="pull-right">
						<a href="<?= $submitURL ?>"><span class="glyphicon glyphicon-plus"></span></a>
					</div>
				<?php } ?>
			</h2>
			<ul class="list-group">
				<?php foreach ($ideas as $idea) {
					if ($idea instanceof Epr_Idea) {
						?>
						<a href="#" class="list-group-item">

							<?php
							if (5 == 6 && $idea->getImages()->count() > 0) {
								$mainImage = $idea->getImages()->firstObject();
								if ($mainImage instanceof Epr_Content_Image) {
									?>

									<img src="<?= $mainImage->getPublicIDBasedURL(40, 40) ?>"
										 style="<?= $mainImage->getCSSDimensionString() ?>" class="pull-left"/>

								<?php
								}
							} ?>
							<h4 class="list-group-item-heading"><?= $idea->getSubmissioDate()->format('Y/m/d') ?></h4>

							<p class="list-group-item-text">

								<?= $idea->getText() ?>
							</p>
						</a>

					<?php
					}
				} ?>
			</ul>
		</div>
	<?php } ?>
</div>