<?php
$success = $this->success;
$competition = $this->competition;
/** @var $competition Epr_Idea_Competition */

$ideasModule = _app()->getModuleWithIdentifier(Epr_Modules_Ideas::identifier());
$page = Epr_Cms_Page::getPageWithPath(Epr_Modules_Ideas::PAGE_SUBMIT_PATH);
?>

<div class="page-heading">
	<h2 class="branding"><?= $competition->getTitle() ?></h2>
</div>

<div class="row">

	<div class="col-lg-8">


		<?php if ($this->success != true) { ?>

		<?php if (_user()) { ?>
			<?= $this->form; ?>
		<?php } else { ?>
		<div class="alert alert-danger center">
			<?= _t('You need to be logged in to submit an idea.') ?>

			<div style="margin-top: 20px;">
			<a href="/user/login" class="btn btn-lg btn-danger">
				<?= _t('Login') ?>/<?= _t('Registration') ?>
			</a>
			</div>
			</div>

			<?php } ?>
			<?php } else { ?>
				<div class="alert alert-success">
					<?= _t('Your idea has been submitted.') ?>
					<div style="margin-top: 20px;">
						<a href="/ideas" class="btn btn-lg btn-success">
							<?= _t('back to the competitions') ?>
						</a>
					</div>
				</div>
			<?php } ?>
		</div>

		<div class="col-lg-4">
			<?= $page->getElementWithPath(Epr_Modules_Ideas::SUBMIT_MANUAL_PATH)->renderedContent(3) ?>
		</div>

	</div>

