<?php
use Poundation\PArray;

?>
<news page="<?= $this->page ?>" count="<?= $this->count ?>" total="<?= $this->total ?>" hideAfter="<?php echo (isset($this->maxAge)) ? $this->maxAge : 30 ?>">
    <?php if (isset($this->categories)) { ?>

        <?php
        foreach ($this->categories as $category) {
            if ($category instanceof Epr_News_Category) {
                ?>
                <category id="<?php echo $category->getId() ?>"
                          sticky="<?= (($category->isSticky()) ? 'true' : 'false') ?>">
                    <?php if ($category->getCategory()) { ?>
                        <parent><?php echo $category->getCategory()->getId() ?></parent>
                    <?php } ?>
                    <title><?php echo xmlentities($category->getTitle()) ?></title>
                    <slug><?php echo xmlentities($category->getSlug()) ?></slug>
                    <color><?php echo $category->getColor()->getHexString(false, false) ?></color>
                </category>

            <?php
            }
        }
    } ?>

    <?php if (isset($this->news)) { ?>

        <?php
        foreach ($this->news as $newsItem) {
            if ($newsItem instanceof Epr_News) {

                $titleImage = $newsItem->getTitleImage();
                $source     = $newsItem->getSource();

                ?>
                <newsItem id="<?php echo $newsItem->getId() ?>">
                    <category><?php echo $newsItem->getCategory()->getId() ?></category>
                    <title><?php echo xmlentities($newsItem->getTitle()) ?></title>
                    <source><?php echo xmlentities($source) ?></source>
                    <slug><?php echo xmlentities($newsItem->getSlug()) ?></slug>
                    <?php if ($newsItem->getPublicUrl()) { ?>
                        <url><![CDATA[<?= _app()->getPublicURL()
                                ->addPathComponent($this->url(array('id' => $newsItem->getId()), 'newsMore')) ?>]]>
                        </url>
                    <?php } ?>

                    <published><?php echo $newsItem->getPublishedDate()->getFormatedString('Y-m-d') ?></published>
                    <text><![CDATA[<?= $newsItem->getText() ?>]]></text>
                    <?php if ($titleImage !== null) { ?>
                        <?= $titleImage->getAPIXMLSnippet('titleImage') ?>
                    <?php } ?>
                    <views><?= (int)$newsItem->getViewCounter() ?></views>

                </newsItem>
            <?php
            }
        } ?>
    <?php } ?>

</news>
<?php if ($this->hasMoreNews || $this->page > 1) { ?>
    <links>
        <?php if ($this->page > 1) { ?>
            <previous><![CDATA[<?= _app()->getPublicURL()->addPathComponent('api/news/page')->addPathComponent((string)$this->page - 1)->setParameter('count', $this->requestedCount)->setParameter('v', (\Poundation\PURL::currentURL()->getParameter('v'))) ?>]]></previous>
        <?php } ?>
        <?php if ($this->hasMoreNews) { ?>
            <next><![CDATA[<?= _app()->getPublicURL()->addPathComponent('api/news/page')->addPathComponent($this->page + 1)->setParameter('count', $this->requestedCount)->setParameter('v', (\Poundation\PURL::currentURL()->getParameter('v'))) ?>]]></next>
        <?php } ?>
    </links>
<?php } ?>