<table border="0" width="100%" cellpadding="0" cellspacing="0">


    <tr valign="top">
        <td style="vertical-align: top">
            <?php echo $this->form ?>
        </td>
        <?php
        if (isset($this->image)) {
            $image = $this->image;
            if ($image instanceof Epr_Content_Image) {
                ?>
                <td style="width:240px; vertical-align: top; padding-left: 10px; position:relative">
                    <div>
                        <img class="preview focal" id="image_<?= $this->image->getId() ?>"  src="<?= $image->getPublicURL(240) ?>" style="<?= $image->getCSSDimensionString() ?>" />
                    </div>
                    <script type="text/javascript" src="/js/focalPoint.js"></script>
                    <script type="text/javascript">
                        $(document).ready(function () {

                            $('img.focal').each(function (index) {
                                var image = jQuery(this);
                                var imageId = image.attr('id');
                                if (imageId) {
                                    var focalXField = $('#focalX');
                                    var focalYField = $('#focalY');
                                    if (focalXField && focalYField) {
                                        var focalEditor = new Focal(image, focalXField, focalYField);
                                    }
                                }
                            });
                        });
                    </script>
                </td>
            <?php
            }
        } ?>
    </tr>
</table>
