<?= $this->paginateLinksHelper($this->images) ?>
<?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_TOP, $this->images) ?>
<form id="mainform">
    <?= $this->searchBoxHelper() ?>
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" class="data-table-v2">
        <tr>
            <th class="table-header-repeat line-left width-150 table-header-titleImage"><?php echo $this->translate('Thumb') ?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('name', $this->translate('Name')) ?></th>
            <th class="table-header-repeat line-left width-100 center"><?= $this->sortLinksHelper('width', $this->translate('Width')) ?></th>
            <th class="table-header-repeat line-left width-100 center"><?= $this->sortLinksHelper('height', $this->translate('Height')) ?></th>
            <th class="table-header-repeat line-left width-150 center"><?= $this->sortLinksHelper('access', $this->translate('Context')) ?></th>
            <th class="table-header-options line-left width-125"><span>Options</span></th>
        </tr>

        <?php
        if (count($this->images) > 0) {
            $cycle = $this->cycle(array("row", "alternate-row"));
            foreach ($this->images as $image) {
                if ($image instanceof Epr_Content_Image) {

                    $editURL = $this->editUrl . '/id/' . $image->getId();

                    $contexts = array();
                    if ($image->hasAccess(Epr_Content_Image::ACCESS_CMS_IMAGE)) {
                        $contexts[] = $this->translate('CMS');
                    }
                    if ($image->hasAccess(Epr_Content_Image::ACCESS_DEALER_LOGO)) {
                        $contexts[] = $this->translate('Dealer');
                    }
                    if ($image->hasAccess(Epr_Content_Image::ACCESS_IDEA_CATEGORY)) {
                        $contexts[] = $this->translate('Idea Category');
                    }
                    if ($image->hasAccess(Epr_Content_Image::ACCESS_IDEA_IMAGE)) {
                        $contexts[] = $this->translate('Idea');
                    }
                    if ($image->hasAccess(Epr_Content_Image::ACCESS_TMP)) {
                        $contexts[] = $this->translate('Tmp');
                    }
                    if ($image->hasAccess(Epr_Content_Image::ACCESS_GENERAL)) {
                        $contexts[] = $this->translate('General');
                    }
                    if ($image->hasAccess(Epr_Content_Image::ACCESS_SYSTEM)) {
                        $contexts[] = $this->translate('System');
                    }
                    if ($image->hasAccess(Epr_Content_Image::ACCESS_THEME)) {
                        $contexts[] = $this->translate('Theme');
                    }

                    ?>
                    <tr class="<?php echo $cycle->next() ?>" onclick="document.location='<?= $editURL ?>'">
                        <td><img src="<?= $image->getPublicURL(150, 150) ?>"
                                 style="<?= $image->getCSSDimensionString(150, 150) ?>"/></td>
                        <td><?= $image->getName() ?></td>
                        <td class="center"><?= $image->getWidth() ?></td>
                        <td class="center"><?= $image->getHeight() ?></td>
                        <td><?= implode('<br />', $contexts) ?></td>
                        <td>
                            <?php if (!$image->hasAccess(Epr_Content_Image::ACCESS_SYSTEM) && !$image->hasAccess(Epr_Content_Image::ACCESS_IDEA_IMAGE)) { ?>
                                <a href="<?= $editURL ?>" title="Edit" class="icon-1 info-tooltip"></a>
                                <a href="<?= $this->trashUrl ?>/id/<?php echo $image->getId() ?>" title="Move to trash"
                                   class="icon-2 info-tooltip"></a>
                            <?php } ?>
                        </td>
                    </tr>

                <?php }
        }
        } ?>

    </table>
</form>
<?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_BOTTOM, $this->images) ?>
