<?php
if (isset($this->image)) {
    $image = $this->image;
    if ($image instanceof Epr_Content_Image) {
        ?>
        <img src="<?= $image->getPublicURL() ?>" class="preview"
             style="<?= $image->getCSSDimensionString() ?>; max-width: 400px; max-height: 400px; float:left; margin-right: 20px;"/>
        <div>
            <h2><?= $this->translate('Do you really want to remove this asset?') ?></h2>
            <p>
                <?php if (isset($this->usages)) { ?>
                    <?= $this->translate('You cannot remove this asset because it is still used: ') ?>
                    <ul>
                        <?php foreach($this->usages as $usage) { ?>
                            <li><?= $usage ?></li>
                        <?php } ?>
                    </ul>
                <?php } else { ?>

                    <br/><br/>
                    <a href="/admin/assets/list" class="button"><?= $this->translate('No, keep it!') ?></a>
                    <a href="?trashit=true"
                       class="button negative pull-right"><?= $this->translate('Yes, remove it!') ?></a>
                <?php } ?>
            </p>
        </div>
    <?php
    }
}
?>