<?= $this->paginateLinksHelper($this->dealers) ?>
<?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_TOP, $this->dealers) ?>

<form id="mainform">
    <?= $this->searchBoxHelper(array(
        'active' => 'active:true',
        'not active' => 'active:false'
    )) ?>
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" class="data-table-v2">
        <tr>
            <th class="table-header-repeat line-left table-header-titleImage"><?php echo $this->translate('Logo')?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('title', $this->translate('Title')) ?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('address.zip', $this->translate('Ort')) ?></th>
            <th class="table-header-options line-left"><span>Options</span></th>
        </tr>

        <?php
            if (count($this->dealers) > 0) {
                $cycle = $this->cycle(array("row", "alternate-row"));

                foreach ($this->dealers as $dealer) {
                    if ($dealer instanceof Epr_Dealer) {

                        $id = $dealer->getId();
                        $editURL = $this->editUrl . '/id/' . $id;

                        $active = $dealer->isActive();
                        $toggleActivateText = $this->translate('Activate Dealer');
                        if ($active) {
                            $toggleActivateText = $this->translate('Deactivate Dealer');
                        }

                        $location = '';
                        if ($dealer->getAddress()) {
                            if ($dealer->getAddress()->getZip()) {
                                $location .= $dealer->getAddress()->getZip() . ' ';
                            }
                            if ($dealer->getAddress()->getCity()) {
                                $location .= $dealer->getAddress()->getCity();
                            }

                            if ($dealer->getAddress()->getCountry()) {
                                $location .= '<br />' . $dealer->getAddress()->getCountry();
                            }
                        }

                        $logo = $dealer->getTitleImage();

                        ?>
                        <tr class="<?php echo $cycle->next() ?> <?php echo !$dealer->isActive() ? 'row_inactive' : '' ?>"
                            onclick="document.location='<?= $editURL ?>'">
                            <td class="table-cell-titleImage">
                                <?php
                                if ($logo) {
                                    ?>
                                    <img src="<?= $logo->getPublicIDBasedURL(72, 54) ?>"/>
                                <?php
                                }
                                ?>
                            </td>
                            <td><?php echo $dealer->getTitle() ?></td>
                            <td><?php echo $location ?></td>
                            <td>
                                <a name="<?= $dealer->getId() ?>"/>
                                <a href="<?= $editURL ?>" title="Edit" class="icon-1 info-tooltip"></a>
                                <a href="<?php echo $this->deleteUrl ?>/id/<?php echo $id ?>" title="Delete"
                                   class="icon-2 info-tooltip"
                                   onclick="return confirm('<?php echo $this->translate('Delete Dealer?') ?>');"></a>
                                <?php if ($dealer->getAddress() && is_null($dealer->getAddress()->getCoordinate())) { ?>
                                    <a href="<?php echo $this->geocodeUrl ?>/id/<?php echo $id ?>" title="Geocode"
                                       class="icon-11 info-tooltip"></a>
                                <?php } ?>
                                <a href="<?php echo $this->toggleActivationUrl ?>/id/<?php echo $id ?>"
                                   title="<?php echo $toggleActivateText ?>" class="icon-5 info-tooltip"></a>
                            </td>
                        </tr>
                    <?php
                    }
                }
            }
        ?>
    </table>
    <?= $this->paginateLinksHelper($this->dealers) ?>
    <?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_BOTTOM, $this->dealers) ?>

</form>