<error>
	<code><?php echo  $this->code ?></code>
	<message><?php echo  $this->message ?></message>
	<?php if (isset($this->subCode)) { ?>
		<subCode><?= $this->subCode ?></subCode>
	<?php } ?>
</error>