<auth>
	<status><?php echo $this->status?></status>
	<?php if (isset($this->token) && ($this->token instanceof Epr_Token)) { ?>
		
		<token><?php echo $this->token->getId() ?></token>
		<user id="<?php echo  $this->token->getUser()->getId() ?>">
			<firstname><?php echo  $this->token->getUser()->getFirstname() ?></firstname>
			<lastname><?php echo  $this->token->getUser()->getLastname() ?></lastname>
			<email><?php echo  $this->token->getUser()->getEmail() ?></email>
		</user>
	<?php } ?>
</auth>