<?php if (!isset($this->outputs) || count($this->outputs) == 0) { ?>
	<div class="cron">
		Kein Output.
	</div>
<?php
} else {
	foreach ($this->outputs as $name => $content) {
		?>
		<div class="cron">
			<h2><?= $name ?></h2>
			<pre><?= $content ?></pre>
		</div>

	<?php } ?>

<?php } ?>