<?php

$cycle=$this->cycle(array("","alternate-row"));

?>

<?= $this->paginateLinksHelper($this->feeds) ?>
<?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_TOP, $this->feeds) ?>
<form id="mainform" action="asdf">
	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('title', $this->translate('Title')) ?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('url', $this->translate('URL')) ?></th>
			<th class="table-header-repeat line-left"><span><?php echo $this->translate('Category')?><span></th>
			<th class="table-header-options line-left"><span>Options<span></th>
		</tr>

		<?php
  		if (isset($this->feeds)) {
			foreach($this->feeds as $feed) {
				if ($feed instanceof Epr_Feed) {

					$url = __($feed->getUrl());

					?>
						<tr class="<?php echo $cycle->next()?> <?php echo !$feed->isActive()?'row_inactive':''?>">
							<td><?= $feed->getTitle() ?></td>
							<td><a href="<?= $url ?>" target="_BLANK"><?= $url->shorten(50) ?></a></td>
							<td><?= ($feed->getCategory()) ? $feed->getCategory()->getTitle() : '-' ?></td>
							<td>
								<a href="<?php echo $this->itemsUrl ?>/id/<?php echo $feed->getId() ?>" title="List entries" class="icon-7 info-tooltip"></a>
								<a href="<?php echo $this->editUrl?>/id/<?php echo $feed->getId()?>" title="Edit" class="icon-1 info-tooltip"></a>
								<a href="<?php echo $this->deleteUrl?>/id/<?php echo $feed->getId()?>" title="Delete" class="icon-2 info-tooltip" onclick="return confirm('<?php echo $this->translate('Delete Feed?')?>');"></a>
								<a href="<?php echo $this->toggleUrl?>/id/<?php echo $feed->getId()?>" title="<?php echo $this->translate($feed->isActive()?'Deactivate Feed':'Activate Feed')?>" class="icon-5 info-tooltip"  onclick="return confirm('<?php echo $this->translate($feed->isActive()?'Deactivate Feed?':'Activate Feed?')?>');"></a>
							</td>
						</tr>
					<?php
				}
			}
		}
		?>

	</table>
    <?= $this->paginateLinksHelper($this->feeds) ?>
    <?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_BOTTOM, $this->feeds) ?>

</form>