<form id="mainform">

    <?= $this->paginateLinksHelper($this->news) ?>
    <?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_TOP, $this->news) ?>
    <?= $this->searchBoxHelper(array(
        'drafts' => 'state:draft',
        'published' => 'state:published'
    )) ?>

    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" class="data-table-v2">
        <tr>
            <th class="table-header-repeat line-left table-header-titleImage"><?php echo $this->translate('Title Image') ?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('title', $this->translate('Title')) ?></th>
            <th class="table-header-repeat line-left witdh-125"><?= $this->sortLinksHelper('category', $this->translate('Category')) ?></th>
            <th class="table-header-repeat line-left table-header-date width-150" style="min-width: 120px;"><?= $this->sortLinksHelper('publishDate', $this->translate('Publish Date')) ?></th>
            <th class="table-header-repeat line-left width-150 center"><span><?= $this->translate('State') ?></span></th>
            <th class="table-header-repeat line-left table-header-date width-75"><?= $this->sortLinksHelper('viewCounter', $this->translate('Views')) ?></th>
            <th class="table-header-repeat line-left table-header-date width-75"><?= $this->sortLinksHelper('hitsCounter', $this->translate('Hits')) ?></th>
            <th class="table-header-options line-right width-175"><span>Options</span></th>
        </tr>

        <?php
        $cycle = $this->cycle(array("row", "alternate-row"));
        ?>

        <?php if (count($this->news) > 0) : ?>

            <?php
            foreach ($this->news as $news) :

                if ($news instanceof Epr_News) {

                    $editURL = $this->editUrl . '/id/' . $news->getId();

                    $titleImage = $news->getTitleImage();
                    ?>
                    <tr class="<?php echo $cycle->next() ?>" onclick="document.location='<?= $editURL ?>'">
                        <td class="table-cell-titleImage">
                            <?php
                            if ($titleImage) {
                                ?>
                                <img src="<?php echo $titleImage->getPublicIDBasedURL(72, 54) ?>" class="titleImage"/>
                            <?php
                            }
                            ?>
                        <td><?php echo $news->getTitle() ?></td>
                        <td><?php echo $news->getCategory()->getTitle(); ?></td>
                        <td class="center"><?= ($news->isPublished() || $news->willBePublishedAutomatically()) ? $news->getPublishedDate()->getFormatedString('Y-m-d H:i') : '-' ?></td>
                        <td class="center"><?= $news->getStatusText() ?></td>
                        <td class="center"><?= $news->getViewCounter() ?></td>
                        <td class="center"><?= $news->getHitsCounter() ?></td>

                        <td class="options-width">
                            <a href="<?php echo $editURL ?>" title="Edit"
                               class="icon-1 info-tooltip"></a>
                            <a href="<?php echo $this->previewUrl ?>/id/<?php echo $news->getId() ?>" title="Preview"
                               class="icon-3 info-tooltip"></a>
                            <a href="<?php echo $this->deleteUrl ?>/id/<?php echo $news->getId() ?>" title="Delete"
                               class="icon-2 info-tooltip"
                               onclick="return confirm('<?php echo $this->translate('Delete News?') ?>');"></a>
                            <?php if (isset($this->notifyUrl) && $news->isActive()) { ?>
                                <a href="<?php echo $this->notifyUrl ?>/id/<?php echo $news->getId() ?>"
                                   title="Send Notifications" class="icon-12 info-tooltip"
                                   onclick="return confirm('<?php echo $this->translate('Really wanna send notifications?') ?>');"></a>
                            <?php } ?>
                        </td>
                    </tr>
                <?php } ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </table>

    <?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_BOTTOM, $this->news) ?>

</form>


<div class="clear"></div>