<?= $this->paginateLinksHelper($this->categories) ?>
<?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_TOP, $this->categories) ?>
<form id="mainform" action="asdf">
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
        <tr>
            <th class="table-header-repeat line-left table-header-titleImage"><?php echo $this->translate('Color')?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('title', $this->translate('Category Name')) ?></th>
            <th class="table-header-repeat line-left"><?= $this->sortLinksHelper('slug', $this->translate('URL Slug')) ?></th>
            <th class="table-header-repeat line-left width-75"><?= $this->sortLinksHelper('isSticky', $this->translate('Sticky')) ?></th>
            <th class="table-header-options line-left width-125"><span>Options</span></th>
        </tr>

        <?php $cycle=$this->cycle(array("","alternate-row"));?>

        <?php if (count($this->categories)>0) : ?>

            <?php foreach ($this->categories as $category) :?>
            <tr class="<?php echo $cycle->next()?> <?php echo !$category->isActive()?'row_inactive':''?>">
                <td class="table-cell-icon">
                    <div style="background-color: <?php echo  $category->getColor() ?>">
						<img src="/images/forms/shine-72x54.png" />
					</div>
                </td>
                <td><?php echo $category->getTitle()?> (<?php echo $category->getNewsCount()?>)</td>
                <td><?php echo $category->getSlug();?></td>
                <td class="center"><?= (($category->isSticky()) ? '&#10004;' : '--') ?></td>

                <td class="options-width">
                    <a href="<?php echo $this->editUrl?>/id/<?php echo $category->getId()?>" title="Edit" class="icon-1 info-tooltip"></a>
                    <a href="<?php echo $this->deleteUrl?>/id/<?php echo $category->getId()?>" title="Delete" class="icon-2 info-tooltip"></a>
                    <a href="<?php echo $this->deactivateUrl?>/id/<?php echo $category->getId()?>" title="<?php echo $this->translate($category->isActive()?'Deactivate Item':'Activate Item')?>" class="icon-5 info-tooltip" ></a>
                </td>
            </tr>
            <?php endforeach; ?>

        <?php else : ?>

            <tr class="<?$cycle->next()?>">
                <td colspan="5"><?php echo $this->translate('No Items')?></td>
            </tr>

        <?php endif; ?>
    </table>
    <?= $this->paginateLinksHelper($this->categories) ?>
    <?= $this->paginateCountHelper(Epr_View_Helper_PaginateCountHelper::CONTEXT_BOTTOM, $this->categories) ?>
</form>

<div class="clear"></div>