<?php
if (isset($this->feed) && $this->feed instanceof Epr_Feed) {
	/** @var Epr_Feed $feed */
	$feed  = $this->feed;
	$cycle = $this->cycle(array(
							   "",
							   "alternate-row"
						  ));
	?>
	<form id="mainform" action="asdf">
		<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" class="feeds">
			<tr>
				<th class="table-header-repeat line-left minwidth-1"><?= $this->sortLinksHelper('title', $this->translate('Headline')) ?></th>
				<th class="table-header-repeat line-left minwidth-1 date"><?= $this->sortLinksHelper('date', $this->translate('Released')) ?></th>
				<th class="table-header-options line-left"><span>Options</span></th>
			</tr>

			<?php
			foreach ($this->items as $item) {
				if ($item instanceof Epr_Feed_Item) {
					$releaseDate = new \Poundation\PDate($item->getReleaseDate());
					?>
					<tr>
						<td>
							<h4><?= $item->getTitle() ?></h4>

							<div class="preview">
								<?= $item->getText() ?>
							</div>
						</td>
						<td><?= $releaseDate->getFormatedString('Y-m-d H:i') ?></td>
						<td>
							<?php if ($item->getConvertedToNews() == false) { ?>
								<a href="<?php echo $this->convertToNewsItemUrl ?>/feed/<?= $feed->getId() ?>/item/<?= $item->getId() ?>"
								   title="Convert to news" class="icon-10 info-tooltip"></a>
							<?php } ?>
						</td>
					</tr>
				<?php
				}
			}
			?>


		</table>
	</form>


<?php
}
?>