<table border="0" width="100%" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td>

        <?php echo $this->placeholder('steps');?>

        <?php echo $this->form?>
        <!-- end id-form  -->

    </td>
    <td>

        <?php echo $this->placeholder('related-activities'); ?>

    </td>
  </tr>
  <tr>
    <td><img src="/images/shared/blank.gif" width="695" height="1" alt="blank" /></td>
    <td></td>
  </tr>
</table>