<?php if (count($this->events) > 0)  { ?>
    <events>
        <?php foreach ($this->events as $event) {
            if ($event instanceof Epr_Event) {
                $titleImage = $event->getTitleImage();
                ?>
            <event id="<?= $event->getId() ?>">
                <title><![CDATA[<?= $event->getTitle() ?>]]></title>
                <date format="ISO8601"><?= $event->getDate()->getInISO8601Format() ?></date>
                <?php if ($titleImage !== null) { ?>
                    <?= $titleImage->getAPIXMLSnippet('titleImage') ?>
                <?php } ?>
                <description format="text/html">
                    <![CDATA[<?= $event->getText() ?>]]>
                </description>
                <?php if ($event->getCanBeBooked()) { ?>
                    <booking url="<?= _app()->getPublicURL()->addPathComponent('api/events/')->addPathComponent($event->getId())->addPathComponent('booking') ?>" />
                <?php } ?>
            </event>
            <?php } ?>
        <?php } ?>
    </events>
<?php }