<?php
if (isset($this->page)) {
	$page = $this->page;
	if ($page instanceof Epr_Cms_Page) {
		?>

		<?php foreach ($page->getElements() as $element) { ?>

			<?php if ($element instanceof Epr_Cms_Element) { ?>
				<div class="row">
					<div class="col-lg-12">
						<?= $element->renderedContent(1) ?>
					</div>
				</div>

			<?php } ?>
		<?php } ?>


	<?php
	}
}