<?php

$mapsModule = _app()->getModuleWithIdentifier(Epr_Modules_Maps::identifier());

$page = Epr_Cms_Page::getPageWithPath(Epr_Modules_Dealers::PAGE_DEAL);

$deal = $this->deal;
if ($deal instanceof Epr_Dispatcher_Deal) {

?>

<?= $page ?>

<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
	<div class="col-lg-12">

		<?php if ($mapsModule instanceof Epr_Modules_Maps) {

			if (isset($this->dealers) && count($this->dealers) > 0) {
				foreach($this->dealers as $dealer) {
					if ($dealer instanceof Epr_Dealer) {

						$data = array(
							(string)$dealer->getAddress()
						);

						if ($dealer->getTelephone()) {
							$data[] = _t('Telephone') . ': ' . $dealer->getTelephone();
						}

						if ($dealer->getEmail()) {
							$data[] = _t('Email') . ': ' . "<a href=\"mailto:" . $dealer->getEmail() . "\">" . $dealer->getEmail() . '</a>';
						}

						if ($dealer->getWeb()) {
							$data[] = _t('Homepage') . ': ' . "<a href=\"" . $dealer->getWeb() . "\">" . $dealer->getWeb() . '</a>';
						}

						$description = implode('<br />', $data);

						$mapsModule->addMarker($dealer->getAddress()->getCoordinate(), $dealer->getTitle(), $description);
					}
				}
			}
			$map = $mapsModule->getMapsHTML('dealersMap', true);
			echo $map;
		}
		?>
	</div>
</div>

<?php } ?>

<a href="<?= $this->url(array('id' => $deal->getReferenceDealId()), 'dealsDetails') ?>" class="btn btn-lg btn-primary"><span
		class="glyphicon glyphicon-arrow-left"></span><?= _t('back to the deal') ?></a>