<?php

if (isset($this->savingError)) {
    ?>
    <div class="alert alert-danger"><?= $this->savingError ?></div>
<?php
}

if (isset($this->page)) {
    $page = $this->page;
    echo $page->renderedContent();

}

if (isset($this->termsOfUse)) {
    ?>
    <div class="modal fade" id="modal-save-deal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?= _t('nail down this deal') ?></h4>
                </div>
                <div class="modal-body">
                    <?php if (isset($this->form)) { ?>
                        <?= $this->form ?>
                    <?php } ?>
                </div>

            </div>
        </div>
    </div>


    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('a.save-deal').attr('data-toggle', 'modal').attr('data-target', '#modal-save-deal');

            jQuery('#save-deal-onsite').click(function (event) {
                jQuery('#<?= Epr_Form_Frontend_Deal_Save::FIELD_TYPE ?>').val('<?= Epr_Deal::TYPE_ONSITE ?>');
            });

            jQuery('#save-deal-online').click(function (event) {
                jQuery('#<?= Epr_Form_Frontend_Deal_Save::FIELD_TYPE ?>').val('<?= Epr_Deal::TYPE_ONLINE ?>');
            })
        });

    </script>
<?php }

if (isset($this->onlineDescription)) {
?>

<div class="modal fade" id="modal-online-description" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?= _t('How to get the deal') ?></h4>
            </div>
            <div class="modal-body" style="height: 60%; overflow-y: scroll">
                <?= $this->onlineDescription ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><?= _t('Close') ?></button>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('a.deal-online-description').attr('data-toggle', 'modal').attr('data-target', '#modal-online-description');
        });
    </script>

<?php } ?>