<?php

$page = Epr_Cms_Page::getPageWithPath(Epr_Modules_Deals::PAGE_PRINT_PATH);
$content = $page->getElementWithPath(Epr_Modules_Deals::PRINT_CONTEXT);

$deal = $this->deal;
if ($deal instanceof Epr_Dispatcher_Deal && _user() && _user()->hasDealCode($deal, Epr_Deal::TYPE_ONSITE)) {

	?>

	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">

			<?= $content->renderedContent(2) ?>


			<div class="barcode">
				<img src="<?= _app()->getEANImageURL(_user()->getDealCode($deal, Epr_Deal::TYPE_ONSITE)) ?>" class=""
					 style=""/>
			</div>
			<ul class="list-group">
				<li class="list-group-item"><?= $deal->getTitle() ?></li>
				<li class="list-group-item"><?= sprintf(_t('Redeemable from %s to %s'), $deal->getStartDate()->getFormatedString('Y/m/d'), $deal->getEndDate()->getFormatedString('Y/m/d')) ?></li>
			</ul>
			<a href="<?= $this->url(array('id' => $deal->getReferenceDealId()), 'dealsDetails') ?>"
			   class="btn btn-lg btn-success"><span
					class="glyphicon glyphicon-arrow-left"></span><?= _t('back to the deal') ?></a>
			<a href="javascript:window.print();" class="btn btn-lg btn-primary pull-right"><?= _t('print') ?></a>
		</div>
	</div>

	<script type="text/javascript">
		window.print();
	</script>

<?php } ?>