<?php
use Poundation\PArray;

?>

<?php if (isset($this->categories)) {?>
<categories>
	<?php foreach($this->categories as $category) { ?>
		<?php if ($category instanceof Epr_Idea_Category) { ?>
		<category id="<?php echo  $category->getId() ?>">
			<title><?php echo  xmlentities($category->getTitle()) ?></title>
            <slug><?php echo  xmlentities($category->getSlug()) ?></slug>
			<?php 
				$image = $category->getTitleImage();
                if ($image) {
                    ?>
                        <image><![CDATA[<?php echo  $image->getPublicURL() ?>]]></image>
                    <?php
			    }
            ?>
		</category>
		<?php } ?>
	<?php } ?>
</categories>
<?php } ?>

<competitions hideAfter="<?= (isset($this->competitionsMaxAge) ? $this->competitionsMaxAge : '10') ?>">
<?php if (isset($this->competitions) && (is_array($this->competitions))) { ?>
	
	<?php 
		foreach ($this->competitions as $competition) {
            /** @var Epr_Idea_Competition $competition */
		if ($competition instanceof Epr_Idea_Competition) {
	?>
		<competition id="<?php echo  $competition->getId() ?>">
            <title><?php echo  xmlentities($competition->getTitle()) ?></title>
            <slug><?php echo  xmlentities($competition->getSlug()) ?></slug>
            <?php
                $titleImage = $competition->getTitleImage();
                if ($titleImage) {
            ?>
                <titleImage><![CDATA[<?php echo  $titleImage->getPublicURL() ?>]]></titleImage>
            <?php
                }
            ?>
            <category><?php echo  $competition->getCategory()->getId() ?></category>
            <company><?php echo  xmlentities($competition->getCompany()) ?></company>
            <?php if ($competition->getTeaser()) { ?>
            <teaser><?php echo  xmlentities($competition->getTeaser()) ?></teaser>
            <?php } ?>
			<?php if ($competition->getEndText()) { ?>
				<endText><![CDATA[<?php echo $competition->getEndText() ?>]]></endText>
			<?php } ?>
            <description><![CDATA[<?php echo  $competition->getText() ?>]]></description>
            <rules><![CDATA[<?php echo $competition->getRules()?>]]></rules>
            <startDate><?php echo  $competition->getStartDate()->format('Y-m-d') ?></startDate>
            <endDate><?php echo  $competition->getEndDate()->format('Y-m-d') ?></endDate>
		</competition>
	
	<?php }}} ?>
</competitions>