<?php
use Poundation\PArray;

?>
<ideas hideAfter="30">
<?php if (isset($this->ideas) && ($this->ideas->count() > 0)) {
		foreach ($this->ideas as $idea) {
            /** @var Epr_Idea $idea */
		if ($idea instanceof Epr_Idea) {

            $images = $idea->getImages();
	?>
		<idea id="<?php echo  $idea->getId() ?>">
            <text><![CDATA[<?php echo $idea->getText()?>]]></text>
            <submissionDate><?php echo $idea->getSubmissioDate()->format('Y-m-d')?></submissionDate>
            <?php if (__($idea->getUrl())->length() > 0) { ?>
            <url><![CDATA[<?php echo $idea->getUrl()?>]]></url>
            <?php } ?>
            <user id="<?php echo $idea->getUser()->getId()?>">
                <firstname><?php echo $idea->getUser()->getFirstname()?></firstname>
                <lastname><?php echo $idea->getUser()->getLastname()?></lastname>
            </user>
            <?php
            if (count($images) > 0) {
                ?>
                     <images>
                         <?php
                           foreach($images as $image) {
                               if ($image instanceof Epr_Content_Image) {
                                   ?>
                                        <image name="<?php echo  $image->getName() ?>"><![CDATA[<?php echo  $image->getPublicIDBasedURL() ?>]]></image>
                                   <?php
                               }
                           }
                         ?>
                     </images>
                <?php
            }
            ?>

		</idea>
	
	<?php }} ?>
<?php }  ?>

</ideas>